---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
		"normalize",
		"bourbon/bourbon",
        "neat/neat",
        "base/base",
        "base/mixins",
        "layout/layout",
        "modules/modules",
        "syntax-highlighting"
;
 
.specs-type {
  color: $medium-gray;
}

.highlight {
  margin: 0 (-$small-spacing);
  padding: $small-spacing !important;
  border: 1px solid $base-border-color;
  border-radius: $base-border-radius;
  background: $bright-gray;

  & + .heading { margin-top: $small-spacing; }
}

.button.remove {
  background: white;
  color: $red;
  border: $base-border;
}

.text-right {
  text-align: right;
}

.inline {
  display: inline;
}

.panel {
  padding: 1em;
  background: $bright-gray;
  border: 1px solid $light-gray;
  border-radius: $base-border-radius;
  margin-bottom: 1em;
}

.instructions ol {
  padding: 0 0 0 1.5em;

  li {
    list-style: decimal;
    margin-bottom: .5em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.faded {
  opacity: .3;
}


// Expandable details

.console {
  background: black;
  margin: -1.35em -1.5em 0;
  padding: 0 1.5em 1em 2em;

  @include media(max-width $medium-screen) {
    display: none;
  }
}



// Credit Card

.cc-expiry {
  label { display: block; }

  @include media(em(550)) {
    width: 73%;
    float: left;
    margin-right: 2%;
  }
}

@include media(em(550)) {
  .cc-cvc {
    width: 25%;
    float: right;
  }
}

#expiry-month {
  float: left;
  width: 70%;
  margin-right: 2%;
  height: 29px;
  @include media($medium-screen) { height: 36px; }
}
#expiry-year {
  float: left;
  width: 28%;
  height: 29px;
  @include media($medium-screen) { height: 36px; }
}




// Firewall Rules Temporary Overrides

body .page-content .row {
  .ui-widget-content {
    border: none !important;
    border-top: 1px solid #ddd !important;
    border-radius: 0 !important;
    background: white !important;
    color: #555 !important;
  }


  .ui-widget-header {
    background: white !important;
    border: none !important;
  }

  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: white !important;
    border: none !important;
    color: #555 !important;
    font-weight: normal !important;
  }
  .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #555 !important;
  }
  .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: white !important;
    border: none !important;
    color: #ff5245 !important;
    font-weight: normal !important;
  }
  .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #ff5245 !important;
  }
  .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: none !important;
    background: white !important;
    font-weight: normal !important;
    color: #555 !important;
  }
  .ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited, .ui-state-focus a, .ui-state-focus a:hover, .ui-state-focus a:link, .ui-state-focus a:visited {
    color: #555 !important;
  }
  .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: .5em 1em 0 0 !important;
  }

  .ui-tabs .ui-tabs-panel {
    padding: 0 !important;
  }

  .ui-widget-content .button {
    color: white !important;
  }
  .ui-widget-content input {
    margin-bottom: 0 !important;
  }
  #myTable1, #myTable2, #myTable3 {
    button { margin-left: .5em !important; }
    td { padding-right: .5em !important; }
  }

  .action-handler input {
    width: auto !important;
    float: left !important;
    margin: 0 0 .5em !important;
    padding: .5em !important;
    font-weight: 500 !important;
    font-size: 16px !important;
  }
}



// Extra Marketplace bits for refactor

.catalog-grid {
  @include row;
  padding-top: 1em;
  background: #f7f7f7;

  @include media(max-width $medium-screen - 1) {
    padding-left: 0.4em;
    padding-right: 0.4em;
  }

  @include media($medium-screen) {
    margin-left: -0.4em;
    margin-right: -0.4em;
  }
}

.plate-collapse {
  padding: 0;
}

.catalog-grid a {
  margin-bottom: 0;
  border: 6px solid #f7f7f7;
  @include transition(0s all);

  @include media(max-width em(560)) {
    max-width: em(480);
    margin: 0 auto;
  }

  @include media(em(560)) {
    width: 50%;
    float: left;
  }

  &:hover {
    color: #555;
  }
}

.content-box-link {
  padding: 0;
}

.content-box-link .content-box-link-inner {
  border: 1px solid transparent;
  padding: 1.65em 3em;
  @include transition(0.2s all);
}

.content-box-link:hover .content-box-link-inner {
  background: #E2F8F6;
  border: 1px solid #B3DFDE;
}
