---
layout: layout
title: Gateway A
top-link: Gateways
top-path: infrastructure
class: item-edit infrastructure
title-edit: true
---

<section class="plate tabbed">
  <ul class="tabs">
    <li data-tab="rules" class="active">Rules</li>
    <li data-tab="monitoring">Monitoring</li>
    <li class="settings"><div class="icon-settings"><span><em></em></span></div><strong>Settings</strong>
      <ul>
        <li data-tab="settings-power">Refresh</li>
        <li data-tab="settings-destroy">Destroy</li>
      </ul>
    </li>
  </ul>

  <div class="plate-tab" data-plate="monitoring">
      {% include subpage/gateway-tab-monitoring.html %}
  </div>

  <div class="plate-tab" data-plate="rules">
    {% include subpage/gateway-tab-rules.html %}
  </div>

  <div class="plate-tab" data-plate="settings-power">
    <div class="group info">
      <h2>Refresh Gateway</h2>
      <p>Here is a description of what happens when you refresh a gateway. If this is OK, and you're ready etc., go ahead:</p>
    </div>
    <div class="group">
      <div class="action-handler">  
        <form action="#">
          <input type="submit" value="Switch it off">
        </form>
      </div> 
    </div>
  </div>

  <div class="plate-tab" data-plate="settings-destroy">
    <div class="group info">
      <h2>Careful, this can't be undone!</h2>
      <p>Confirmation notice on destroying a gateway.</p>
    </div>
    <div class="group">
      <div class="action-handler">
        <form action="#">
          <input type="submit" value="Destroy gateway">
          <a href="#" class="button secondary">Notify the team</a>
        </form>       
      </div>
    </div>
  </div>

</section>
