---
layout: layout
title: Cakes
class: item-add cakes
---

<section class="actions">
  <div class="action-handler">
    <a href="#" class="button">Add a cake</a>
  </div>
</section>
<section class="plate">
  <ul class="specs-type">
    <li>Name</li>
    <li>Storage</li>
    <li>CPUs</li>
    <li>vRAM</li>
    <li>Bandwidth</li>
  </ul>
  <div class="cake">
    <div class="cake-type">
      <span class="icon"></span>
      <a href="cake-details.html">Chocolate</a>
    </div>
    <div class="cake-specs">
      {% include modules/progress.html %}
    </div>
    <div class="cake-specs">
      {% include modules/progress.html %}
    </div>
    <div class="cake-specs">
      {% include modules/progress.html %}
    </div>
    <div class="cake-specs">
      {% include modules/progress.html %}
    </div>
  </div>
  <div class="cake">
    <div class="cake-type">
      <span class="icon"></span>
      <a href="cake-details.html">Vanilla</a>
    </div>
    <div class="cake-specs">
      {% include modules/progress.html %}
    </div>
    <div class="cake-specs">
      {% include modules/progress.html %}
    </div>
    <div class="cake-specs">
      {% include modules/progress.html %}
    </div>
    <div class="cake-specs">
      {% include modules/progress.html %}
    </div>
  </div>
</section>
