---
layout: layout
title: Infrastructure
class: section infrastructure
---

<section class="plate tabbed">
  <ul class="tabs">
    <li data-tab="servers">Servers</li>
    <li data-tab="network" class="active">Network</li>
    <li data-tab="storage">Storage</li>
    <li data-tab="images">Images</li>
  </ul>

  <div class="plate-tab" data-plate="servers">
    {% include subpage/infrastructure-tab-servers.html %}
  </div>

  <div class="plate-tab" data-plate="network">
    {% include subpage/infrastructure-tab-network.html %}
  </div>

  <div class="plate-tab" data-plate="storage">
    {% include subpage/infrastructure-tab-storage.html %}
  </div>

  <div class="plate-tab" data-plate="images">
    {% include subpage/infrastructure-tab-images.html %}
  </div>
</section>
