---
layout: layout
title: Server Details
title-edit: true
lead: This server belongs to the <a href="/">DC00036</a> platform. From here you can adjust the server <br class="desktop-brek"> configuration, and review server performance history.
class: item-edit infrastructure pars-uri
---
 
<div class="group action-buttons">
  <div class="action-handler" data-plate="tickets"> 
    <a class="button" href="ticket-add-step1.html">Add a Ticket</a>
  </div>
</div>
  
<section class="plate tabbed">
  <ul class="tabs">
    <li data-tab="access">Access</li>
    <li data-tab="specs" class="active">Specs</li>
    <li data-tab="tickets">Tickets</li>
    <li data-tab="monitoring">Monitoring</li>
    <li class="settings"><div class="icon-settings"><span><em></em></span></div><strong>Settings</strong>
      <ul>
        <li data-tab="settings-power">Turn Server Off</li>
        <li data-tab="settings-rename">Rename Server</li>
        <li data-tab="settings-history">History</li>
        <li data-tab="settings-remove">Remove Server</li>
        <li data-tab="settings-backups">Managed Backups</li>
      </ul>
    </li>
  </ul>

  <div class="plate-tab" data-plate="access">
    {% include subpage/infrastructure-details-tab-access.html %}
  </div>

  <div class="plate-tab" data-plate="specs">
    {% include subpage/infrastructure-details-tab-specs.html %}
  </div>

  <div class="plate-tab" data-plate="tickets">
    {% include subpage/infrastructure-details-tab-tickets.html %}
  </div>

  <div class="plate-tab" data-plate="monitoring">
    {% include subpage/infrastructure-details-tab-monitoring.html %}
  </div>
<!--
  <div class="plate-tab" data-plate="images">
    <div class="group">
      {% include subpage/infrastructure-details-tab-images.html %}
    </div>
  </div>
-->
  {% include subpage/infrastructure-details-tab-settings.html %}

</section>
