---
layout: layout
title: Ok. First, let's choose an image
lead: An image gets you up and running without having to configure the same thing over and <br class="desktop-beak">over again. Think of it as a complete clone of a Hard Disk and Operating System.
class: section
---

<section class="plate tabbed">
  <ul class="tabs">
    <li data-tab="images" class="active">Images</li>
    <li data-tab="applications">Applications</li>
    <li data-tab="snapshots">Snapshots</li>
    <li data-tab="search">Search</li>
  </ul>
  
  <div class="plate-tab" data-plate="images">
   {% include subpage/infrastructure-add-tab-images.html %}    
  </div>
  
  <div class="plate-tab" data-plate="applications">
   {% include subpage/infrastructure-add-tab-applications.html %}    
  </div>
  
  <div class="plate-tab" data-plate="snapshots">
   {% include subpage/infrastructure-add-tab-snapshots.html %}    
  </div>
  
  <div class="plate-tab" data-plate="search">
   {% include subpage/infrastructure-add-tab-search.html %}    
  </div>
  
</section>
