---
layout: layout
title: Clients
subtitle: Fred inc.
class: user clients
role: reseller
---

<section class="plate tabbed">
  <ul class="tabs">
    <li data-tab="profile" class="active">Profile</li>
    <li data-tab="catalogs">Catalogs</li>
    <li data-tab="usage">Usage</li>
    <li data-tab="tickets">Tickets</li>
    <li data-tab="contracts">Contracts</li>
  </ul>

  <div class="plate-tab" data-plate="profile">
    {% include subpage/client-details-profile.html %}
  </div>

  <div class="plate-tab" data-plate="catalogs">
    {% include subpage/client-details-catalogs.html %}
  </div>

  <div class="plate-tab" data-plate="usage">
    {% include subpage/client-details-usage.html %}
  </div>

  <div class="plate-tab" data-plate="tickets">
    {% include subpage/client-details-tickets.html %}
  </div>

  <div class="plate-tab" data-plate="contracts">
    {% include subpage/client-details-contracts.html %}
  </div>

</section>
