---
layout: layout
title: Clients
class: item-add clients
role: reseller
---

<section class="actions">
  <div class="action-handler">
    <a href="#" class="button">Add a client</a>
  </div>
</section>
<section class="plate">
  <ul class="specs-type">
    <li class="span-4">Name</li>
    <li class="span-2">Capacity</li>
    <li class="span-2">Total months</li>
    <li class="span-2">Monthly</li>
    <li class="span-2">Year to date</li>
  </ul>
  <div class="cake">
    <div class="client-type">
      <span class="icon"></span>
      <a href="reseller-client-details.html">Fred inc.</a>
    </div>
    <div class="client-specs">
      {% include modules/progress.html %}
    </div>
    <div class="client-specs">
      4
    </div>
    <div class="client-specs">
      $12,000
    </div>
    <div class="client-specs">
      $48,000
    </div>
  </div>
  <div class="cake">
    <div class="client-type">
      <span class="icon"></span>
      <a href="#">PattyCo.</a>
    </div>
    <div class="client-specs">
      {% include modules/progress.html %}
    </div>
    <div class="client-specs">
      8
    </div>
    <div class="client-specs">
      $4,000
    </div>
    <div class="client-specs">
      $32,000
    </div>
 
</section>
