---
layout: layout
title: Account Settings
lead: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut semper mi <br class="desktop-break">finibus massa solicitudin, a rutrum metus pharetra.
class: user
---

<div class="group action-buttons">
  <div class="action-handler" data-plate="users"> 
    <a class="button" href="#">Add User</a>
  </div>
  <div class="action-handler" data-plate="roles"> 
    <a class="button" href="#">Add Role</a>
  </div>
</div>

<section class="plate tabbed">
  <ul class="tabs">
    <li data-tab="settings" class="active">Settings</li>
    <li data-tab="users">Users</li>
    <li data-tab="roles">Roles</li>
    <li data-tab="impersonate">Impersonate</li>
  </ul>

  <div class="plate-tab" data-plate="settings">
    {% include subpage/user-tab-settings.html %}
  </div>

  <div class="plate-tab" data-plate="users">
    {% include subpage/user-tab-users.html %}
  </div>

  <div class="plate-tab" data-plate="roles">
    {% include subpage/user-tab-roles.html %}
  </div>

  <div class="plate-tab" data-plate="impersonate">
    {% include subpage/user-tab-impersonate.html %}
  </div>
</section>
