<header class="page-header" role="banner">
  {% include modules/nav.html %}

  {% if page.flash-message %}
  <div class="flash-{{ page.flash-type }}">
    <span>{{ page.flash-message }}</span>
  </div>
  {% endif %}

  {% if page.top-link %}
	<div class="top-link">
		<a href="{{ page.top-path}}.html">{{ page.top-link }}</a>
	</div>
  {% endif %}
  
  {% if page.title and page.title-edit == true %}
  <div  class="site-title editable">
    <div class="field-container">
      <input type="text" name="serverTitle" id="serverTitle" value="{{ page.title }}" data-field="toggle">
      <label for="serverTitle" class="field-edit"></label>
    </div>    
  </div>  
  {% elsif page.title %}
  <h1 class="site-title">{{ page.title }}</h1>
  {% endif %}

  {% if page.subtitle %}
	<h2 class="site-subtitle">{{ page.subtitle }}</h2>
  {% endif %}
  
  {% if page.lead %}
  <p class="page-lead">{{ page.lead }}</p>
  {% endif %}
</header>
