nav {
  $base-border-radius: 3px !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $centered-navigation-padding: 1em;
  $centered-navigation-logo-height: 2em;
  $centered-navigation-background: $light-gray;
  $centered-navigation-color: transparentize($base-font-color, 0.3);
  $centered-navigation-color-hover: $base-font-color;
  $centered-navigation-height: 60px;
  $centered-navigation-item-padding: 1em;
  $centered-navigation-submenu-spacing: 1em;
  $centered-navigation-submenu-width: 12em;
  $centered-navigation-item-nudge: 2.2em;
  $horizontal-bar-mode: $large-screen;

  border-bottom: 1px solid $light-gray;
  @include clearfix;
  margin-top: $small-spacing;

  // Nav menu

  ul.centered-navigation-menu {
    -webkit-transform-style: preserve-3d; // stop webkit flicker
    clear: both;
    display: block;
    text-align: center;
    overflow-y: hidden;
    padding: 0;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;

    &.show {
      display: block;
    }
  }

  // The nav items

  ul li.nav-link {
    background: transparent;
    display: inline-block;
    overflow: hidden;

    &.active a {
        background: $light-gray;
        border-radius: $base-border-radius;
      }

    a {
      color: $centered-navigation-color;
      display: inline-block;
      outline: none;
      text-decoration: none;
      padding: .5em $small-spacing;
      margin: 0 .25em;

      &:focus,
      &:hover {
        color: $centered-navigation-color-hover;
      }
    }

    &.divider {
      border-left: 1px solid $light-gray;

      &.active a { margin-left: .52em; }
    }

    &:first-child { margin-left: $small-spacing; }
  }

  ul li.nav-close {
    border: 1px solid $medium-gray;
    border-radius: 50%;
    height: 2em;
    text-align: center;
    width: 2em;
    position: relative;
    bottom: 5px;

    a {
      display: block;
      padding: 0;
      line-height: 2;
    }
  }

  li.logo.nav-link {
    border-right: 1px solid $light-gray;
  }

  .logo .icon {
      display: block;
      height: 2em;
      width: 2em;
      border-radius: $base-border-radius;
      background: $light-gray;
      margin-right: $small-spacing;
      margin: 0 .5em .5em 0;
      top: 5px;
      position: relative;
    }

  // Sub menus

  li.more.nav-link {
    padding-right: $centered-navigation-submenu-spacing;

    > ul > li:first-child a  {
      padding-top: 1em;
    }

    a {
      margin-right: $centered-navigation-submenu-spacing;
    }

    > a {
      padding-right: 0.6em;
    }

    > a:after {
      @include position(absolute, auto -0.4em auto auto);
      color: $centered-navigation-color;
      content: "\25BE";
    }
  }

  li.more {
    overflow: visible;
    padding-right: $centered-navigation-submenu-spacing;
    position: relative;

    a {
      padding-right: $centered-navigation-submenu-spacing;
    }

    > a {
      padding-right: 1.6em;
      position: relative;
        margin-right: $centered-navigation-submenu-spacing;

      &:after {
        content: "›";
        font-size: 1.2em;
        position: absolute;
        right: $centered-navigation-submenu-spacing / 2;
      }
    }

    &:focus > .submenu,
    &:hover > .submenu {
      display: block;
    }
  }
}
