nav {
  $centered-navigation-padding: 1em;
  $centered-navigation-logo-height: 2em;
  $centered-navigation-background: $light-gray;
  $centered-navigation-color: $medium-gray;
  $centered-navigation-color-hover: $base-font-color;
  $centered-navigation-height: 60px;
  $centered-navigation-item-padding: 1em;
  $centered-navigation-submenu-spacing: 1em;
  $centered-navigation-submenu-width: 12em;
  $centered-navigation-item-nudge: 2.2em;
  $horizontal-bar-mode: $large-screen;

  //box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border-bottom: 1px solid $base-border-color;
  background: white;
  @include clearfix;
  padding: 0;

  @include media($medium-screen) {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 8;
  }

  .user-entry & { 
    border: none;
    background: transparent; 
    position: static;
  }

  // Nav menu

  .centered-navigation-menu {
    -webkit-transform-style: preserve-3d; // stop webkit flicker
    clear: both;
    display: block;
    text-align: center;
    overflow-y: hidden;
    padding: 0;
    width: 100%;
    height: 3em;
    white-space: nowrap;
    overflow-x: auto;
    font-size: .9em;

    &.show {
      display: block;
    }

      li {
         background: transparent;
         display: inline-block;
         overflow: hidden;

         a {
            color: $centered-navigation-color;
            display: inline-block;
            outline: none;
            text-decoration: none;
            padding: .7em 1em;
            height: 3em;

            &:focus,
            &:hover {
               color: $dark-gray;
               background: $bright-blue;
            }
         }

         &.divider {
           border-left: $base-border;
           padding-left: .3em;

           &.active a { margin-left: .52em; }
         }

         &:first-child { margin-left: $small-spacing; }
      }

      .nav-close {
        border: 1px solid $medium-gray;
        border-radius: 50%;
        height: 2.3em;
        text-align: center;
        width: 2.3em;
        line-height: 2.3em;
        position: relative;
        top: -1px;

        a {
          display: block;
          padding: 0;
        }
      }

      .logo .icon { 
        background: url('../images/logo.png') 0 7px no-repeat;
        background-size: 28px;
        display: block;
        height: 3em;
        width: 3.3em;
        border-right: $base-border;

        .user-entry & { border: none; }
      }

      .signout a {
        text-indent: -999em;
        position: relative;
        display: block;
        height: 3em;
        width: 2.5em;

        &:before {
          right: 10px;
          width: 16px;
          height: 16px;
          border: 2px solid $medium-gray;
          margin-top: -6px;
          background: transparent;
          border-radius: $border-radius-round;
          content: "";
          position: absolute;
          top: 50%;
        }

        &:after {
          right: 16px;
          width: 4px;
          height: 11px;
          border: 1px solid #fff;
          margin: -8px 0 0;
          background: $medium-gray;
          content: "";
          position: absolute;
          top: 47%;
        }

        &:hover:before {
          border-color: $action-color;
        }

        &:hover:after {
          background: $action-color; 
        }
      }

  }
}

//select navigation items relative to active page

.platform .platform a,
.infrastructure .infrastructure a,
.marketplace .marketplace a,
.tickets .tickets a,
.billing .billing a,
.clients .reseller-clients a,
.products .reseller-products a,
.user .user a {
  color: $action-color;
}
