.progress-bar-indication {  
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-line-height: 1.5em !default;
  $action-color: $light-gray !default;
  $progress-meter-border-color: $action-color;
  $progress-meter-border: 1px solid darken($progress-meter-border-color, 15%);
  $progress-meter-color: $progress-meter-border-color;
  $progress-background: darken($base-background-color, 5);
  $progress-animation-duration: 0.7s;
  $progress-color: white;

  background-color: $progress-background;
  margin: .5em auto 0;
  width: 100%;
  height: .5em;

  > span.meter {
    box-sizing: border-box;
    background-color: $progress-meter-color;
    background-repeat: repeat-x;
    border-top-right-radius: 0;
    display: inline-block;
    height: 100%;
    width: 60%;
  }

  p {
    color: $progress-color;    
    height: .5em;
    margin: 0;
    padding: .1em .5em;
    text-shadow: 0 0 1px black;
  }
}
