.progress-bar-indication {  
  $progress-meter-border-color: $green;
  $progress-meter-border-color-warning: $red;
  $progress-meter-border: 1px solid darken($progress-meter-border-color, 15%);
  $progress-meter-color: $progress-meter-border-color;
  $progress-meter-color-warning: $progress-meter-border-color-warning;
  $progress-background: darken($base-background-color, 5);
  $progress-animation-duration: 0.7s;
  $progress-color: white;

  background-color: $progress-background;
  margin: .5em auto 0;
  width: 100%;
  height: .5em;

  > span.meter {
    box-sizing: border-box;
    background-color: $progress-meter-color;
    background-repeat: repeat-x;
    border-top-right-radius: 0;
    display: inline-block;
    height: 100%;
    width: 60%;

    &.warning {
      background-color: $progress-meter-color-warning;
    }
  }

  p {
    color: $progress-color;    
    height: .5em;
    margin: 0;
    padding: .1em .5em;
    text-shadow: 0 0 1px black;
  }
}
