<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>

<body{% if page.class %} class="{{ page.class }}"{% endif %}>

  {% include header.html %}
  <div class="page-content">
    {{ content }}
  </div>

{% unless page.class contains 'chat' %}
<footer class="page-footer"> 
  <small>&copy; Eplexity 2016. Service provider logos are trademarks of their respective owners.</small>
  <br /><small>Admin: &nbsp; <a href="index.html">Customer</a> &nbsp; <a href="reseller-clients.html">Partners</a></small>
</footer>
{% endunless %}

<script src="js/production.min.js"></script>
</body>

</html>
