  <div class="group">
    <ul class="heading">
      <li class="span-10">Catalog Name</li>
      <li class="span-2 txt-center">Available</li>
    </ul>
  </div>
  <div class="group">
  <div class="row">
    <div class="span-10">Eplexity Managed Services</div>
    <div class="span-2 txt-center"><input type="checkbox" name="privilege" checked value="managedServices"></div>
  </div>
  <div class="row">
    <div class="span-10"><a href="marketplace-section.html">Eplexity Hosted Private Cloud Services</a></div>
    <div class="span-2 txt-center"><input type="checkbox" name="privilege" value="hostedServices"></div>
  </div>
  <div class="row">
    <div class="span-10">Microsoft Software Licensing</div>
    <div class="span-2 txt-center"><input type="checkbox" name="privilege" value="microsoftLicensing"></div>
  </div>
  <div class="row">
    <div class="span-10">Eplexity Managed Services</div>
    <div class="span-2 txt-center"><input type="checkbox" name="privilege" checked value="managedServices"></div>
  </div>
  <div class="row">
    <div class="span-10"><a href="marketplace-section.html">Eplexity Hosted Private Cloud Services</a></div>
    <div class="span-2 txt-center"><input type="checkbox" name="privilege" value="hostedServices"></div>
  </div>
  <div class="row">
    <div class="span-10">Microsoft Software Licensing</div>
    <div class="span-2 txt-center"><input type="checkbox" name="privilege" value="microsoftLicensing"></div>
  </div>
</div>
<div class="group">      
  <div class="action-handler">
    <a href="#" class="button">Update</a>
  </div>
</div>