
    <div class="group">
      <div class="row highlight">
        <div class="span-10 push-2"><span class="icon"></span> <a href="ticket-details.html">Scheduled maintenance on 24/12/2015</a></div>
        <div class="span-2">Open</div>
      </div>
      <div class="row">
        <div class="span-10 push-2"><span class="icon"></span> <a href="ticket-details.html">Add Managed Backups to  Faction Server 1</a></div>
        <div class="span-2">Open</div>
      </div>
      <div class="row">
        <div class="span-10 push-2"><span class="icon"></span> <a href="ticket-details.html">Question about Managed Backups</a></div>
        <div class="span-2">Closed</div>
      </div>
      <div class="row">
        <div class="span-10 push-2"><span class="icon"></span> <a href="ticket-details.html">Scheduled maintenance July 2015</a></div>
        <div class="span-2">Closed</div>
      </div>
    </div>