    <div class="group">
      <ul class="heading">
        <li class="span-8 push-2">Name</li>
        <li class="span-4">Date</li>
      </ul>
      <div class="row">
        <div class="span-8 push-2"><span class="icon icon-billing-pdf"></span> <a href="#">Terms & Conditions (clean)</a></div>
        <div class="span-4">Nov 14 2015</div>
      </div>
      <div class="row">
        <div class="span-8 push-2"><span class="icon icon-billing-pdf"></span> <a href="#">Terms & Conditions (signed)</a></div>
        <div class="span-4">Nov 14 2015</div>
      </div>
      <div class="row">
        <div class="span-8 push-2"><span class="icon icon-billing-pdf"></span> <a href="#">First Service Order</a></div>
        <div class="span-4">Nov 14 2015</div>
      </div>
    </div>
    <div class="action-handler">
      <a href="#" class="button">Upload more PDFs</a>
    </div>