  <div class="group">  
    <ul class="sub-tabs" data-toggle-target="sub-monitoring">
      <li data-sub-tab="current" data-toggle="sub-monitoring">Current</li>
      <li data-sub-tab="24" class="sub-active" data-toggle="sub-monitoring">24 Hours</li>
      <li data-sub-tab="7" data-toggle="sub-monitoring">7 Days</li>
      <li data-sub-tab="30" data-toggle="sub-monitoring">30 Days</li>
      <li data-sub-tab="365" data-toggle="sub-monitoring">365 Days</li>
    </ul>
    <div class="toggler-icon-hitarea" data-toggle="sub-monitoring">
      <span class="edit-toggler-icon">&#9660;</span>
    </div>     
    <div class="sub-tab-overlay" data-toggle="sub-monitoring" data-toggle-target="sub-monitoring"></div>   
  </div>

  <div class="sub-plate-tab" data-sub-plate="current">
    <div class="group">
      <ul class="heading">
        <li class="span-12">Bandwidth (Private)</li>
      </ul>
    </div>
    <div class="group txt-center">
      <img src="images/graph-mock.jpg">
    </div>

    <div class="group">
      <ul class="heading">
        <li class="span-12">Bandwidth (Public)</li>
      </ul>
    </div>
    <div class="group txt-center">
      <img src="images/graph-mock.jpg">
    </div>

    <div class="group">
      <ul class="heading">
        <li class="span-12">Disk</li>
      </ul>
    </div>
    <div class="group txt-center">
      <img src="images/graph-mock.jpg">
    </div>

    <div class="group">
      <ul class="heading">
        <li class="span-12">CPU</li>
      </ul>
    </div>
    <div class="group txt-center">
      <img src="images/graph-mock.jpg">
    </div>
  </div>

  <div class="sub-plate-tab" data-sub-plate="24">
    <div class="group">
      <ul class="heading">
        <li class="span-12">Bandwidth (Private)</li>
      </ul>
    </div>
    <div class="group txt-center">
      <img src="images/graph-mock.jpg">
    </div>

    <div class="group">
      <ul class="heading">
        <li class="span-12">Bandwidth (Public)</li>
      </ul>
    </div>
    <div class="group txt-center">
      <img src="images/graph-mock.jpg">
    </div>

    <div class="group">
      <ul class="heading">
        <li class="span-12">Disk</li>
      </ul>
    </div>
    <div class="group txt-center">
      <img src="images/graph-mock.jpg">
    </div>

    <div class="group">
      <ul class="heading">
        <li class="span-12">CPU</li>
      </ul>
    </div>
    <div class="group txt-center">
      <img src="images/graph-mock.jpg">
    </div>
  </div>

  <div class="sub-plate-tab" data-sub-plate="7">
    <div class="group">
      <ul class="heading">
        <li class="span-12">Bandwidth (Private)</li>
      </ul>
    </div>
    <div class="group txt-center">
      <img src="images/graph-mock.jpg">
    </div>

    <div class="group">
      <ul class="heading">
        <li class="span-12">Bandwidth (Public)</li>
      </ul>
    </div>
    <div class="group txt-center">
      <img src="images/graph-mock.jpg">
    </div>

    <div class="group">
      <ul class="heading">
        <li class="span-12">Disk</li>
      </ul>
    </div>
    <div class="group txt-center">
      <img src="images/graph-mock.jpg">
    </div>

    <div class="group">
      <ul class="heading">
        <li class="span-12">CPU</li>
      </ul>
    </div>
    <div class="group txt-center">
      <img src="images/graph-mock.jpg">
    </div>
  </div>

  <div class="sub-plate-tab" data-sub-plate="30">
    <div class="group">
      <ul class="heading">
        <li class="span-12">Bandwidth (Private)</li>
      </ul>
    </div>
    <div class="group txt-center">
      <img src="images/graph-mock.jpg">
    </div>

    <div class="group">
      <ul class="heading">
        <li class="span-12">Bandwidth (Public)</li>
      </ul>
    </div>
    <div class="group txt-center">
      <img src="images/graph-mock.jpg">
    </div>

    <div class="group">
      <ul class="heading">
        <li class="span-12">Disk</li>
      </ul>
    </div>
    <div class="group txt-center">
      <img src="images/graph-mock.jpg">
    </div>

    <div class="group">
      <ul class="heading">
        <li class="span-12">CPU</li>
      </ul>
    </div>
    <div class="group txt-center">
      <img src="images/graph-mock.jpg">
    </div>
  </div>

  <div class="sub-plate-tab" data-sub-plate="365">
    <div class="group">
      <ul class="heading">
        <li class="span-12">Bandwidth (Private)</li>
      </ul>
    </div>
    <div class="group txt-center">
      <img src="images/graph-mock.jpg">
    </div>

    <div class="group">
      <ul class="heading">
        <li class="span-12">Bandwidth (Public)</li>
      </ul>
    </div>
    <div class="group txt-center">
      <img src="images/graph-mock.jpg">
    </div>

    <div class="group">
      <ul class="heading">
        <li class="span-12">Disk</li>
      </ul>
    </div>
    <div class="group txt-center">
      <img src="images/graph-mock.jpg">
    </div>

    <div class="group">
      <ul class="heading">
        <li class="span-12">CPU</li>
      </ul>
    </div>
    <div class="group txt-center">
      <img src="images/graph-mock.jpg">
    </div>
  </div>
