  <div class="group">  
    <ul class="sub-tabs">
      <li data-sub-tab="current">Current</li>
      <li data-sub-tab="24" class="sub-active">24 Hours</li>
      <li data-sub-tab="7">7 Days</li>
      <li data-sub-tab="30">30 Days</li>
      <li data-sub-tab="365">365 Days</li>
    </ul>
  </div>

  <div class="sub-plate-tab" data-sub-plate="current">
    <div class="group">
      <img src="images/graph-mock.jpg">
    </div>
  </div>

  <div class="sub-plate-tab" data-sub-plate="24">
    <div class="group">
      <img src="images/graph-mock.jpg">
    </div>
  </div>

  <div class="sub-plate-tab" data-sub-plate="7">
    <div class="group">
      <img src="images/graph-mock.jpg">
    </div>
  </div>

  <div class="sub-plate-tab" data-sub-plate="30">
    <div class="group">
      <img src="images/graph-mock.jpg">
    </div>
  </div>

  <div class="sub-plate-tab" data-sub-plate="365">
    <div class="group">
      <img src="images/graph-mock.jpg">
    </div>
  </div>
