    <div class="group">
      <ul class="heading">
        <li class="span-2">NAT</li>
        <li class="span-6">Type</li>
        <li class="span-2">Status</li>
        <li class="span-2">Applied To</li>
      </ul>
    </div>

    <div class="details-toggler divider">
	    <div class="group" data-details="show">
	        <div class="row">
	          <div class="span-2">SN1</div>
	          <div class="span-6">SNAT</div>
	          <div class="span-2"><span class="label success">ACTIVE</span></div>
	          <div class="span-2">d10plSu3</div>
	        </div>
	    </div>

	    <div class="group" data-details="edit">
	        <div class="row sub">
	          	<div class="span-2">
		          	<select name="nat">
		              <option value="SN1">SN1</option>
		              <option value="temp">Temp</option>
		              <option value="NAT">NATO</option>
		            </select>
	        	</div>
	        	<div class="span-6">
		          	<select name="snat" class="half">
		              <option value="SNAT">SNAT</option>
		              <option value="NAT">NAT</option>
		            </select>
	        	</div>
	        	<div class="span-2">
		          	<select name="snat">
		              <option value="active">ACTIVE</option>
		              <option value="inactive">INACTIVE</option>
		            </select>
	        	</div>
	        	<div class="span-2"><input placeholder="Active"></div>
	        </div>
	        <ul class="heading">
	          <li class="span-8">IP Address</li>
	          <li class="span-2">Port</li>
	        </ul>
	        <div class="row">
	          <div class="span-2">Original</div>
	          <div class="span-6">
	          	<input class="half" placeholder="192.168.109.2">
	          </div>
	          <div class="span-2">
	          	<input placeholder="Any">
	          </div>
	        </div>
	        <div class="row">
	          <div class="span-2">Translated</div>
	          <div class="span-6">
	          	<input class="half" placeholder="192.168.109.2">
	          </div>
	          <div class="span-2">
	          	<input placeholder="Any">
	          </div>
	        </div>
	        <div class="row">
	          <button class="button small" data-edit="close">Save changes</button>
	          <button class="button small secondary" data-edit="close">Cancel</button>
	          <a href="#" class="right" data-edit="close">Delete</a>
	        </div>
	    </div>
    </div>
    
    <div class="details-toggler divider">
		<div class="group" data-details="show">
			<div class="row">
			  <div class="span-2">Temp</div>
			  <div class="span-6">NAT</div>
			  <div class="span-2"><span class="label warning">INACTIVE</span></div>
			  <div class="span-2">d10plSu3</div>
			</div>
		</div>

	    <div class="group" data-details="edit">
	        <div class="row sub">
	          	<div class="span-2">
		          	<select name="nat">
		              <option value="SN1">SN1</option>
		              <option value="temp">Temp</option>
		              <option value="NAT">NATO</option>
		            </select>
	        	</div>
	        	<div class="span-6">
		          	<select name="snat" class="half">
		              <option value="SNAT">SNAT</option>
		              <option value="NAT">NAT</option>
		            </select>
	        	</div>
	        	<div class="span-2">
		          	<select name="status">
		              <option value="active">ACTIVE</option>
		              <option value="inactive">INACTIVE</option>
		            </select>
	        	</div>
	        	<div class="span-2"><input placeholder="Active"></div>
	        </div>
	        <ul class="heading">
	          <li class="span-8">IP Address</li>
	          <li class="span-2">Port</li>
	        </ul>
	        <div class="row">
	          <div class="span-2">Original</div>
	          <div class="span-6">
	          	<input class="half" placeholder="192.168.109.2">
	          </div>
	          <div class="span-2">
	          	<input placeholder="Any">
	          </div>
	        </div>
	        <div class="row">
	          <div class="span-2">Translated</div>
	          <div class="span-6">
	          	<input class="half" placeholder="192.168.109.2">
	          </div>
	          <div class="span-2">
	          	<input placeholder="Any">
	          </div>
	        </div>
	        <div class="row">
	          <button class="button small" data-edit="close">Save changes</button>
	          <button class="button small secondary" data-edit="close">Cancel</button>
	          <a href="#" class="right" data-edit="close">Delete</a>
	        </div>
	    </div>
	</div>
    
    <div class="details-toggler divider">
		<div class="group" data-details="show">
			<div class="row">
			  <div class="span-2">NATO</div>
			  <div class="span-6">NAT</div>
			  <div class="span-2"><span class="label success">ACTIVE</span></div>
			  <div class="span-2">d10plSu3</div>
			</div>
		</div>

	    <div class="group" data-details="edit">
	        <div class="row sub">
	          	<div class="span-2">
		          	<select name="nat">
		              <option value="SN1">SN1</option>
		              <option value="temp">Temp</option>
		              <option value="NAT">NATO</option>
		            </select>
	        	</div>
	        	<div class="span-6">
		          	<select name="snat" class="half">
		              <option value="SNAT">SNAT</option>
		              <option value="NAT">NAT</option>
		            </select>
	        	</div>
	        	<div class="span-2">
		          	<select name="status">
		              <option value="active">ACTIVE</option>
		              <option value="inactive">INACTIVE</option>
		            </select>
	        	</div>
	        	<div class="span-2"><input placeholder="Active"></div>
	        </div>
	        <ul class="heading">
	          <li class="span-8">IP Address</li>
	          <li class="span-2">Port</li>
	        </ul>
	        <div class="row">
	          <div class="span-2">Original</div>
	          <div class="span-6">
	          	<input class="half" placeholder="192.168.109.2">
	          </div>
	          <div class="span-2">
	          	<input placeholder="Any">
	          </div>
	        </div>
	        <div class="row">
	          <div class="span-2">Translated</div>
	          <div class="span-6">
	          	<input class="half" placeholder="192.168.109.2">
	          </div>
	          <div class="span-2">
	          	<input placeholder="Any">
	          </div>
	        </div>
	        <div class="row">
	          <button class="button small" data-edit="close">Save changes</button>
	          <button class="button small secondary" data-edit="close">Cancel</button>
	          <a href="#" class="right" data-edit="close">Delete</a>
	        </div>
	    </div>
	</div>

	<div class="group">
	    <button>Add DNAT Rule</button>
	    <button>Add SNAT Rule</button>
	</div>

    <div class="group">
      <ul class="heading">
        <li class="span-8">Firewall</li>
        <li class="span-2">Status</li>
        <li class="span-2">Logging</li>
      </ul>
    </div>

    <div class="details-toggler divider">
	    <div class="group" data-details="show">
	        <div class="row">
	          <div class="span-8">FW INTERNET:VM-ou5d:1454:192.168.111.11</div>
	          <div class="span-2"><span class="label success">ACTIVE</span></div>
	          <div class="span-2"><span class="label success">ACTIVE</span></div>
	        </div>
	    </div>

	    <div class="group" data-details="edit">
	        <div class="row sub">
	        	<div class="span-8">
		          	<input placeholder="FW INTERNET:VM-ou5d:1454:192.168.111.11">
	        	</div>
	        	<div class="span-2">
		          	<select name="status">
		              <option value="active">ACTIVE</option>
		              <option value="inactive">INACTIVE</option>
		            </select>
	        	</div>
	        	<div class="span-2">
		          	<select name="logging">
		              <option value="active">ACTIVE</option>
		              <option value="inactive">INACTIVE</option>
		            </select>
	        	</div>
	        </div>
	        <div class="row sub">
	        	<div class="span-2">
		          	Source
	        	</div>
	        	<div class="span-6">
		          	<select name="source">
		              <option value="any">Any</option>
		              <option value="source">Source</option>
		              <option value="source">Source</option>
		            </select>
	        	</div>
	        </div>
	        <div class="row sub">
	        	<div class="span-2">
		          	Destination
	        	</div>
	        	<div class="span-6">
		          	<select name="destination">
		              <option value="any">Any</option>
		              <option value="destination">Dest.</option>
		              <option value="destination">Dest.</option>
		            </select>
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="span-2">
		          	Protocol
	        	</div>
	        	<div class="span-6">
		          	<select name="protocol">
		              <option value="any">Any</option>
		              <option value="any">Any</option>
		            </select>
	        	</div>
	        </div>

	        <div class="row">
	          <button class="button small" data-edit="close">Save changes</button>
	          <button class="button small secondary" data-edit="close">Cancel</button>
	          <a href="#" class="right" data-edit="close">Delete</a>
	        </div>
	    </div>
    </div>

    <div class="details-toggler divider">
	    <div class="group" data-details="show">
	        <div class="row">
	          <div class="span-8">FW INTERNET:VM-ou5d:1454:192.168.111.11</div>
	          <div class="span-2"><span class="label success">ACTIVE</span></div>
	          <div class="span-2"><span class="label success">ACTIVE</span></div>
	        </div>
	    </div>

	    <div class="group" data-details="edit">
	        <div class="row sub">
	        	<div class="span-8">
		          	<input placeholder="FW INTERNET:VM-ou5d:1454:192.168.111.11">
	        	</div>
	        	<div class="span-2">
		          	<select name="status">
		              <option value="active">ACTIVE</option>
		              <option value="inactive">INACTIVE</option>
		            </select>
	        	</div>
	        	<div class="span-2">
		          	<select name="logging">
		              <option value="active">ACTIVE</option>
		              <option value="inactive">INACTIVE</option>
		            </select>
	        	</div>
	        </div>
	        <div class="row sub">
	        	<div class="span-2">
		          	Source
	        	</div>
	        	<div class="span-6">
		          	<select name="source">
		              <option value="any">Any</option>
		              <option value="source">Source</option>
		              <option value="source">Source</option>
		            </select>
	        	</div>
	        </div>
	        <div class="row sub">
	        	<div class="span-2">
		          	Destination
	        	</div>
	        	<div class="span-6">
		          	<select name="destination">
		              <option value="any">Any</option>
		              <option value="destination">Dest.</option>
		              <option value="destination">Dest.</option>
		            </select>
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="span-2">
		          	Protocol
	        	</div>
	        	<div class="span-6">
		          	<select name="protocol">
		              <option value="any">Any</option>
		              <option value="any">Any</option>
		            </select>
	        	</div>
	        </div>

	        <div class="row">
	          <button class="button small" data-edit="close">Save changes</button>
	          <button class="button small secondary" data-edit="close">Cancel</button>
	          <a href="#" class="right" data-edit="close">Delete</a>
	        </div>
	    </div>
    </div>

    <div class="details-toggler divider">
	    <div class="group" data-details="show">
	        <div class="row">
	          <div class="span-8">FW INTERNET:VM-ou5d:1454:192.168.111.11</div>
	          <div class="span-2"><span class="label success">ACTIVE</span></div>
	          <div class="span-2"><span class="label success">ACTIVE</span></div>
	        </div>
	    </div>

	    <div class="group" data-details="edit">
	        <div class="row sub">
	        	<div class="span-8">
		          	<input placeholder="FW INTERNET:VM-ou5d:1454:192.168.111.11">
	        	</div>
	        	<div class="span-2">
		          	<select name="status">
		              <option value="active">ACTIVE</option>
		              <option value="inactive">INACTIVE</option>
		            </select>
	        	</div>
	        	<div class="span-2">
		          	<select name="logging">
		              <option value="active">ACTIVE</option>
		              <option value="inactive">INACTIVE</option>
		            </select>
	        	</div>
	        </div>
	        <div class="row sub">
	        	<div class="span-2">
		          	Source
	        	</div>
	        	<div class="span-6">
		          	<select name="source">
		              <option value="any">Any</option>
		              <option value="source">Source</option>
		              <option value="source">Source</option>
		            </select>
	        	</div>
	        </div>
	        <div class="row sub">
	        	<div class="span-2">
		          	Destination
	        	</div>
	        	<div class="span-6">
		          	<select name="destination">
		              <option value="any">Any</option>
		              <option value="destination">Dest.</option>
		              <option value="destination">Dest.</option>
		            </select>
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="span-2">
		          	Protocol
	        	</div>
	        	<div class="span-6">
		          	<select name="protocol">
		              <option value="any">Any</option>
		              <option value="any">Any</option>
		            </select>
	        	</div>
	        </div>

	        <div class="row">
	          <button class="button small" data-edit="close">Save changes</button>
	          <button class="button small secondary" data-edit="close">Cancel</button>
	          <a href="#" class="right" data-edit="close">Delete</a>
	        </div>
	    </div>
    </div>

	<div class="group">
	    <button>Add Firewall Rule</button>
	</div>
