  <div class="group">
    <ul class="heading">
      <li class="span-8 push-2">Name</li>
      <li class="span-2">Version</li>
      <li class="span-2">Date</li>
    </ul>
    <div class="row">
      <div class="span-8 push-2" data-title="Name">
        <span class="icon icon-platform-factionbloc"></span>
        Ubuntu
      </div>
      <div class="span-2" data-title="Version">
        4.2.1
      </div>
      <div class="span-2" data-title="Date">
        N/A
      </div>
    </div>
    <div class="row">
      <div class="span-8 push-2" data-title="Name">
        <span class="icon icon-platform-factionbloc"></span>
        Ubuntu
      </div>
      <div class="span-2" data-title="Version">
        4.2.1
      </div>
      <div class="span-2" data-title="Date">
        N/A
      </div>
    </div>
    <div class="row">
      <div class="span-8 push-2" data-title="Name">
        <span class="icon icon-platform-factionbloc"></span>
        Custom Thing
      </div>
      <div class="span-2" data-title="Version">
        1.2.1
      </div>
      <div class="span-2" data-title="Date">
        Jan 10, 2016.
      </div>
    </div>
    <div class="row">
      <div class="span-8 push-2" data-title="Name">
        <span class="icon icon-platform-factionbloc"></span>
        Snapdhot 4
      </div>
      <div class="span-2" data-title="Version">
        N/A
      </div>
      <div class="span-2" data-title="Date">
        Jan 10, 2016.
      </div>
    </div>    
  </div>
  <div class="group">
    <div class="action-handler"> 
      <a class="button" href="#">Upload an image</a>
    </div>
  </div>