    <!-- NON- AWS -->
     <div class="group" data-aws="false">
      <ul class="heading">
        <li class="span-4">Image</li>
        <li class="span-8">Version</li>
      </ul>
      <div class="row">
        <div class="span-4">Ubuntu</div>
        <div class="span-8">14.04.3x64</div>
      </div>
    </div>
    
    <!-- AWS -->
    <div class="details-toggler" data-aws="true">
      <div class="group details-show" data-details="show">
        <ul class="heading">
          <li class="dropdown-edit click-through">
            <span class="edit-toggler-icon">&#9660;</span>
          </li>
          <li class="span-4">Server Size</li>
          <li class="span-8">Provider</li>
        </ul>
        <div class="row">
          <div class="span-4">Shrubbery</div>
          <div class="span-8">Amazon AWS</div>
        </div>
      </div>

      <div class="group details-edit" data-details="edit">
        <ul class="heading">
          <li class="span-3 push-2">Name</li>
          <li class="span-1">vCPUS</li>
          <li class="span-1">vRAM</li>
          <li class="span-1">Storage</li>
          <li class="span-2">Net Egress</li>
          <li class="span-1">Ver</li>
          <li class="span-3">Monthly Charge</li>
        </ul>

        <div class="row">
          <div class="span-3 push-2"><span class="icon icon-distro-fedora"></span>Shrubbery</div>
          <div class="span-1">1</div>
          <div class="span-1">1GB</div>
          <div class="span-1">30GB</div>
          <div class="span-2">2TB</div>
          <div class="span-1">7</div>
          <div class="span-1">50USD</div>
          <div class="span-2 txt-right">
            <form action="infrastructure-add-step2.html">
              <input type="hidden" name="bloc" value="a">
              <input type="submit" class="button small" value="Select">
            </form>
          </div>
        </div>

        <div class="row">
          <div class="span-3 push-2"><span class="icon icon-distro-fedora"></span>Dogwood</div>
          <div class="span-1">2</div>
          <div class="span-1">2GB</div>
          <div class="span-1">40GB</div>
          <div class="span-2">3TB</div>
          <div class="span-1">2</div>
          <div class="span-1">70USD</div>
          <div class="span-2 txt-right">
            <form action="infrastructure-add-step2.html">
              <input type="hidden" name="bloc" value="a">
              <input type="submit" class="button small" value="Select">
            </form>
          </div>
        </div>

        <div class="row">
          <div class="span-3 push-2"><span class="icon icon-distro-fedora"></span>Aspen</div>
          <div class="span-1">4</div>
          <div class="span-1">2GB</div>
          <div class="span-1">60GB</div>
          <div class="span-2">4TB</div>
          <div class="span-1">7</div>
          <div class="span-1">200USD</div>
          <div class="span-2 txt-right">
            <form action="infrastructure-add-step2.html">
              <input type="hidden" name="bloc" value="a">
              <input type="submit" class="button small" value="Select">
            </form>
          </div>
        </div>

        <div class="row">
          <div class="span-3 push-2"><span class="icon icon-distro-fedora"></span>Hemlock</div>
          <div class="span-1">8</div>
          <div class="span-1">4GB</div>
          <div class="span-1">80GB</div>
          <div class="span-2">5TB</div>
          <div class="span-1">2</div>
          <div class="span-1">240USD</div>
          <div class="span-2 txt-right">
            <form action="infrastructure-add-step2.html">
              <input type="hidden" name="bloc" value="a">
              <input type="submit" class="button small" value="Select">
            </form>
          </div>
        </div>

        <div class="row">
          <div class="span-3 push-2"><span class="icon icon-distro-fedora"></span>Red Oak</div>
          <div class="span-1">16</div>
          <div class="span-1">8GB</div>
          <div class="span-1">160GB</div>
          <div class="span-2">6TB</div>
          <div class="span-1">7</div>
          <div class="span-1">400USD</div>
          <div class="span-2 txt-right">
            <form action="infrastructure-add-step2.html">
              <input type="hidden" name="bloc" value="a">
              <input type="submit" class="button small" value="Select">
            </form>
          </div>
        </div>
      </div>   
    </div>

    <div class="details-toggler">
      <div class="group details-show" data-details="show">
        <ul class="heading">
          <li class="dropdown-edit">
            <span class="edit-toggler-icon">&#9660;</span>
            <ul class="edit-toggler click-through">
              <li><span>Edit Storage</span></li>
            </ul>
          </li>
          <li class="span-4">Storage</li>
          <li class="span-4">Total</li>
          <li class="span-4">Available</li> 
        </ul>
        <div class="row sub">
          <div class="span-4">Capacity</div>
          <div class="span-4">200TB</div>
          <div class="span-4">120TB</div>
        </div>
        <div class="row">
          <div class="span-4">IOPs</div>
          <div class="span-4">2000</div>
          <div class="span-4">500</div>
        </div>
      </div>

      <div class="group details-edit" data-details="edit">
        <ul class="heading">
          <li class="span-4">Edit Storage</li>
          <li class="span-4">Total</li>
          <li class="span-4">Monthly Cost</li> 
        </ul>
        <div class="row disk">
          <div class="span-2 counted">
            <span class="count">1</span>
            <input type="text" value="Disk 1">
          </div>
          <div class="span-2">
            <select name="datastore">
              <option value="1">DS1</option>
              <option value="2">DS2</option>
            </select>
          </div>
          <div class="span-4">
            <input class="half connected-left" value="500">
            <div class="select half connected-right">
              <select name="units">
                <option value="GB">GB</option>
                <option value="TB">TB</option>
                <option value="MB">MB</option>
              </select>
            </div>
          </div>
          <div class="span-3 edit-highlighted">No Changes</div>
          <div class="span1 txt-right" data-remove="add-disk"><span class="icon-rounded icon-highlighted">&times;</span></div>
        </div>
        <div class="row disk">
          <div class="span-2 counted">
            <span class="count">2</span>
            <input type="text" value="Disk 2">
          </div>
          <div class="span-2">
            <select name="datastore">
              <option value="1">DS1</option>
              <option value="2">DS2</option>
            </select>
          </div>
          <div class="span-4">
            <input class="half connected-left" value="500">
            <div class="select half connected-right">
              <select name="units">
                <option value="GB">GB</option>
                <option value="TB">TB</option>
                <option value="MB">MB</option>
              </select>
            </div>
          </div>
          <div class="span-3 edit-highlighted">+50 USD (250GB)</div>
          <div class="span1 txt-right" data-remove="add-disk"><span class="icon-rounded icon-highlighted">&times;</span></div>
        </div>
        <div class="row add-disk">  
          <div class="span-4 counted">
            <span class="count">+</span>
            <a class="value" href="#" data-details="add-disk">Add disk</a>
          </div>
        </div>
        <div class="row">
          <button class="plate-save button small" data-edit="close">Save changes</button>
          <a href="#" class="button small">Buy more storage</a> 
          <button class="plate-cancel button small secondary" data-edit="close">Cancel</button>
        </div>
      </div>
    </div>

    <div class="details-toggler">
      <div class="group details-show" data-details="show">
        <ul class="heading">
          <li class="span-4">vRAM</li>
          <li class="span-4">Total</li>
          <li class="span-4">Available</li>
        </ul>
        <div class="row">
          <div class="span-4">Capacity</div>
          <div class="span-4">256GB</div>
          <div class="span-4">128GB</div>
        </div>
      </div>

      <div class="group details-edit" data-details="edit">
        <ul class="heading">
          <li class="span-4">Edit vRAM</li>
          <li class="span-4">Total</li>
          <li class="span-4">Available</li> 
        </ul>
        <div class="row">
          <div class="span-4">Capacity</div>
          <div class="span-4">
            <input class="half" value="256">
            <div class="select half connected-right">
              <select name="units">
                <option value="GB">GB</option>
                <option value="TB">TB</option>
                <option value="MB">MB</option>
              </select>
            </div>
          </div>
          <div class="span-4">128GB</div>
        </div>
        <div class="row">
            <button class="plate-save button small" data-edit="close">Save changes</button>
            <button class="plate-cancel button small secondary" data-edit="close">Cancel</button>
        </div>
      </div>   
    </div>

    <div class="details-toggler">
      <div class="group details-show" data-details="show">
        <ul class="heading">
          <li class="span-4">vCPU</li>
          <li class="span-4">Total</li>
          <li class="span-4">Available</li>
        </ul>
        <div class="row">
          <div class="span-4">2 CPUs</div>
          <div class="span-4">15GHz</div>
          <div class="span-4">10GHz</div>
        </div>
      </div>

      <div class="group details-edit" data-details="edit">
        <ul class="heading">
          <li class="span-4">Edit vCPU</li>
          <li class="span-4">Total</li>
          <li class="span-4">Available</li> 
        </ul>
        <div class="row">
          <div class="span-4">
              <select name="units" class="half">
                <option value="GB">1</option>
                <option value="TB">2</option>
                <option value="MB">3</option>
              </select>
              <span class="inblock">CPUs</span>
            </div>
          <div class="span-4">15GHz</div>
          <div class="span-4">10GHz</div>
        </div>
        <div class="row">
            <button class="plate-save button small" data-edit="close">Save changes</button>
            <button class="plate-cancel button small secondary" data-edit="close">Cancel</button>
        </div>
      </div>         
    </div>

    <div class="details-toggler">
      <div class="group details-show" data-details="show">
        <ul class="heading">
          <li class="span-4">NICs</li>
          <li class="span-4">Total</li>
          <li class="span-4">Used</li> 
        </ul>
        <div class="row sub">
          <div class="span-4">vLAN2900</div>
          <div class="span-4">10GB</div>
          <div class="span-4">5GB</div>
        </div>
        <div class="row">
          <div class="span-4">vLAN2901</div>
          <div class="span-4">5GB</div>
          <div class="span-4">3GB</div>
        </div>
      </div>

      <div class="group details-edit" data-details="edit">
        <ul class="heading">
          <li class="span-4">Edit NIC Types</li>
          <li class="span-4">Adapter Type</li>
          <li class="span-4 push-2">Primary</li> 
        </ul>
        <div class="row">
          <div class="span-4 counted">
            <span class="count">1</span>
            <select name="units">
              <option value="2900">vLAN2900</option>
              <option value="2901">vLAN2901</option>
              <option value="2911">vLAN2911</option>
            </select>
          </div>
          <div class="span-4">
            <select name="adapter">
              <option value="1">VMXNET 3</option>
              <option value="2">VMXNET 2</option>
              <option value="2">Flexible</option>
            </select>
          </div>
          <div class="span-4 push-2">
            <input type="radio" name="primary" value="1" checked>
          </div>
        </div>
        <div class="row">
          <div class="span-4 counted">
            <span class="count">1</span>
            <select name="units">
              <option value="2900">vLAN2900</option>
              <option value="2901">vLAN2901</option>
              <option value="2911">vLAN2911</option>
            </select>
          </div>
          <div class="span-4">
            <select name="adapter">
              <option value="1">VMXNET 3</option>
              <option value="2">VMXNET 2</option>
              <option value="2">Flexible</option>
            </select>
          </div>
          <div class="span-4 push-2">
            <input type="radio" name="primary" value="2">
          </div>
        </div>
        <div class="row">  
          <div class="span-4 counted">
            <span class="count">+</span>
            <a class="value" href="#">Add Network Device</a>
          </div>
        </div>
        <div class="row">
          <button class="plate-save button small" data-edit="close">Save changes</button>
          <button class="plate-cancel button small secondary" data-edit="close">Cancel</button>
        </div>
      </div>
    </div>
