    <div class="group">
      <ul class="heading">
        <li class="span-4">Image</li>
        <li class="span-8">Version</li>
      </ul>
      <div class="row">
        <div class="span-4">Ubuntu</div>
        <div class="span-8">14.04.3x64</div>
      </div>
    </div>

    <div class="details-toggler">
      <div class="group details-show" data-details="show">
        <ul class="heading">
          <li class="dropdown-edit">
            <span class="edit-toggler-icon">&#9660;</span><span class="edit-toggler">Edit Storage</span>
          </li>
          <li class="span-4">Storage</li>
          <li class="span-4">Total</li>
          <li class="span-4">Available</li> 
        </ul>
        <div class="row sub">
          <div class="span-4">Capacity</div>
          <div class="span-4">200TB</div>
          <div class="span-4">120TB</div>
        </div>
        <div class="row">
          <div class="span-4">IOPs</div>
          <div class="span-4">2000</div>
          <div class="span-4">500</div>
        </div>
      </div>

      <div class="group details-edit" data-details="edit">
        <ul class="heading">
          <li class="span-4">Edit Storage</li>
          <li class="span-4">Total</li>
          <li class="span-4">Available</li> 
        </ul>
        <div class="row">
          <div class="span-2 counted">
            <span class="count">1</span>
            Disk 1
          </div>
          <div class="span-2">
            <select name="datastore">
              <option value="1">DS1</option>
              <option value="2">DS2</option>
            </select>
          </div>
          <div class="span-4">
            <input class="half connected-left" value="500">
            <div class="select half connected-right">
              <select name="units">
                <option value="GB">GB</option>
                <option value="TB">TB</option>
                <option value="MB">MB</option>
              </select>
            </div>
          </div>
          <div class="span-4">250GB</div>
        </div>
        <div class="row">
          <div class="span-2 counted">
            <span class="count">2</span>
            Disk 2
          </div>
          <div class="span-2">
            <select name="datastore">
              <option value="1">DS1</option>
              <option value="2">DS2</option>
            </select>
          </div>
          <div class="span-4">
            <input class="half connected-left" value="500">
            <div class="select half connected-right">
              <select name="units">
                <option value="GB">GB</option>
                <option value="TB">TB</option>
                <option value="MB">MB</option>
              </select>
            </div>
          </div>
          <div class="span-4">250GB</div>
        </div>
        <div class="row">  
          <div class="span-4 counted">
            <span class="count">+</span>
            <a class="value" href="#">Add disk</a>
          </div>
        </div>
        <div class="row">
          <button class="plate-save button small" data-edit="close">Save changes</button>
          <a href="#" class="button small">Buy more storage</a> 
          <button class="plate-cancel button small secondary" data-edit="close">Cancel</button>
        </div>
      </div>
    </div>

    <div class="details-toggler">
      <div class="group details-show" data-details="show">
        <ul class="heading">
          <li class="span-4">vRAM</li>
          <li class="span-4">Total</li>
          <li class="span-4">Available</li>
        </ul>
        <div class="row">
          <div class="span-4">Capacity</div>
          <div class="span-4">256GB</div>
          <div class="span-4">128GB</div>
        </div>
      </div>

      <div class="group details-edit" data-details="edit">
        <ul class="heading">
          <li class="span-4">Edit vRAM</li>
          <li class="span-4">Total</li>
          <li class="span-4">Available</li> 
        </ul>
        <div class="row">
          <div class="span-4">Capacity</div>
          <div class="span-4">
            <input class="half" value="256">
            <div class="select half connected-right">
              <select name="units">
                <option value="GB">GB</option>
                <option value="TB">TB</option>
                <option value="MB">MB</option>
              </select>
            </div>
          </div>
          <div class="span-4">128GB</div>
        </div>
        <div class="row">
            <button class="plate-save button small" data-edit="close">Save changes</button>
            <button class="plate-cancel button small secondary" data-edit="close">Cancel</button>
        </div>
      </div>   
    </div>

    <div class="details-toggler">
      <div class="group details-show" data-details="show">
        <ul class="heading">
          <li class="span-4">vCPU</li>
          <li class="span-4">Total</li>
          <li class="span-4">Available</li>
        </ul>
        <div class="row">
          <div class="span-4">2 CPUs</div>
          <div class="span-4">15GHz</div>
          <div class="span-4">10GHz</div>
        </div>
      </div>

      <div class="group details-edit" data-details="edit">
        <ul class="heading">
          <li class="span-4">Edit vCPU</li>
          <li class="span-4">Total</li>
          <li class="span-4">Available</li> 
        </ul>
        <div class="row">
          <div class="span-4">
              <select name="units" class="half">
                <option value="GB">1</option>
                <option value="TB">2</option>
                <option value="MB">3</option>
              </select>
              <span class="inblock">CPUs</span>
            </div>
          <div class="span-4">15GHz</div>
          <div class="span-4">10GHz</div>
        </div>
        <div class="row">
            <button class="plate-save button small" data-edit="close">Save changes</button>
            <button class="plate-cancel button small secondary" data-edit="close">Cancel</button>
        </div>
      </div>         
    </div>

    <div class="details-toggler">
      <div class="group details-show" data-details="show">
        <ul class="heading">
          <li class="span-4">NICs</li>
          <li class="span-4">Total</li>
          <li class="span-4">Used</li> 
        </ul>
        <div class="row sub">
          <div class="span-4">vLAN2900</div>
          <div class="span-4">10GB</div>
          <div class="span-4">5GB</div>
        </div>
        <div class="row">
          <div class="span-4">vLAN2901</div>
          <div class="span-4">5GB</div>
          <div class="span-4">3GB</div>
        </div>
      </div>

      <div class="group details-edit" data-details="edit">
        <ul class="heading">
          <li class="span-4">Edit NIC Types</li>
          <li class="span-4">Adapter Type</li>
          <li class="span-4 push-2">Primary</li> 
        </ul>
        <div class="row">
          <div class="span-4 counted">
            <span class="count">1</span>
            <select name="units">
              <option value="2900">vLAN2900</option>
              <option value="2901">vLAN2901</option>
              <option value="2911">vLAN2911</option>
            </select>
          </div>
          <div class="span-4">
            <select name="adapter">
              <option value="1">VMXNET 3</option>
              <option value="2">VMXNET 2</option>
              <option value="2">Flexible</option>
            </select>
          </div>
          <div class="span-4 push-2">
            <input type="radio" name="primary" value="1" checked>
          </div>
        </div>
        <div class="row">
          <div class="span-4 counted">
            <span class="count">1</span>
            <select name="units">
              <option value="2900">vLAN2900</option>
              <option value="2901">vLAN2901</option>
              <option value="2911">vLAN2911</option>
            </select>
          </div>
          <div class="span-4">
            <select name="adapter">
              <option value="1">VMXNET 3</option>
              <option value="2">VMXNET 2</option>
              <option value="2">Flexible</option>
            </select>
          </div>
          <div class="span-4 push-2">
            <input type="radio" name="primary" value="2">
          </div>
        </div>
        <div class="row">  
          <div class="span-4 counted">
            <span class="count">+</span>
            <a class="value" href="#">Add Network Device</a>
          </div>
        </div>
        <div class="row">
          <button class="plate-save button small" data-edit="close">Save changes</button>
          <button class="plate-cancel button small secondary" data-edit="close">Cancel</button>
        </div>
      </div>
    </div>
