    <div class="group">
      <ul class="heading">
        <li class="span-5 push-2">Name</li>
        <li class="span-7">Description</li>
      </ul>
      
      <div class="row">
        <div class="span-5 push-2" data-title="Name">
          <span class="icon icon-platform-factionbloc"></span>
          Standard LAMP on Ubuntu
        </div>
        <div class="span-55" data-title="Description">
          Ubuntu, Apache, MySQL & PHP. Great for web hosting
        </div>
        <div class="span-15 txt-right">
          <form action="infrastructure-add-step1.html">
            <select name="version" onchange="this.form.submit()">
              <option value="">Select</option>
              <option value="yarrow">Ubuntu 15.10</option>
              <option value="tettnang">Ubuntu 14.04</option>
            </select>            
          </form>
        </div>
      </div>
      
      <div class="row">
        <div class="span-5 push-2" data-title="Name">
          <span class="icon icon-platform-factionbloc"></span>
          Standard MySQL 5.5 on Ubuntu
        </div>
        <div class="span-55" data-title="Description">
          Ubuntu, Apache, MySQL & PHP. Great for web hosting
        </div>
        <div class="span-15 txt-right">
          <form action="infrastructure-add-step1.html">
            <select name="version" onchange="this.form.submit()">
              <option value="">Select</option>
              <option value="yarrow">Ubuntu 15.10</option>
              <option value="tettnang">Ubuntu 14.04</option>
            </select>            
          </form>
        </div>
      </div>
      
      <div class="row">
        <div class="span-5 push-2" data-title="Name">
          <span class="icon icon-platform-factionbloc"></span>
          Standard LAMP on Ubuntu
        </div>
        <div class="span-55" data-title="Description">
          Ubuntu, Apache, MySQL & PHP. Great for web hosting
        </div>
        <div class="span-15 txt-right">
          <form action="infrastructure-add-step1.html">
            <select name="version" onchange="this.form.submit()">
              <option value="">Select</option>
              <option value="yarrow">Ubuntu 15.10</option>
              <option value="tettnang">Ubuntu 14.04</option>
            </select>            
          </form>
        </div>
      </div>
      
      <div class="row">
        <div class="span-5 push-2" data-title="Name">
          <span class="icon icon-platform-factionbloc"></span>
          Standard MySQL 5.5 on Ubuntu
        </div>
        <div class="span-55" data-title="Description">
          Ubuntu, Apache, MySQL & PHP. Great for web hosting
        </div>
        <div class="span-15 txt-right">
          <form action="infrastructure-add-step1.html">
            <select name="version" onchange="this.form.submit()">
              <option value="">Select</option>
              <option value="yarrow">Ubuntu 15.10</option>
              <option value="tettnang">Ubuntu 14.04</option>
            </select>            
          </form>
        </div>
      </div>
    
    </div>