  <div class="plate-tab" data-plate="settings-power">
    <div class="group info">
      <h2>This server is turned on.</h2>
      <p>If you want to turn it off, make sure:</p>
      <ul>
        <li>That all server actions are being handled by another server, or unneeded.</li>
        <li>That your team is aware that this server will no longer be powered on.</li>
        <li>That billing will be unaffected while this server is powered off.</li>
      </ul>
    </div>
    <div class="group">
      <div class="action-handler">  
        <form action="#">
          <input type="submit" value="Switch it off">
          <a href="#" class="button secondary">Notify the team</a>
        </form>
      </div> 
    </div>
  </div>

  <div class="plate-tab" data-plate="settings-rename">
    <div class="group info">
      <h2>This server is called 'Faction Server 1'.</h2>
      <p>If you want to rename it, make sure:</p>
      <ul>
        <li>That all references to this server name get updated among your team.</li>
        <li>That the new name is available (we'll let you know if there's a duplication).</li>
        <li>That your log this change to keep your ticket &amp; billing info accurate.</li>
      </ul>
    </div>
    <div class="group">
      <div class="action-handler">
        <form action="#">
          <input type="text" class="range-4" value="Faction Server 1">
          <input type="submit" value="Save changes">
          <a href="#" class="button secondary">Notify the team</a>
        </form>          
      </div>    
    </div>
  </div>

  <div class="plate-tab" data-plate="settings-backups">
    <div class="group">
      <div class="row highlight">
        <p>Next backup is scheduled for February 5 2016.</p>
      </div>
      <ul class="heading">
        <li class="span-8">Backup</li>
        <li class="span-4">Size</li>
      </ul>
      <div class="row">
        <div class="span-8">Sep 14 2015</div>
        <div class="span-4">1020MB</div>
      </div>
      <div class="row">
        <div class="span-8">Aug 14 2015</div>
        <div class="span-4">2020MB</div>
      </div>
    </div>
    <div class="group">
      <div class="action-handler">
        <form action="#">
          <input type="submit" value="Create a new backup now">
        </form>
      </div>
    </div>
  </div>

  <div class="plate-tab" data-plate="settings-history">
    
    <div class="group">
      <ul class="heading">
        <li class="span-4">History event</li>
        <li class="span-4">Initiated</li>
        <li class="span-4">Execution time</li>
      </ul>
      <div class="row">
        <div class="span-4">Power off</div>
        <div class="span-4">2 minutes ago</div>
        <div class="span-4">14 seconds</div>
      </div>
      <div class="row">
        <div class="span-4">Disable backups</div>
        <div class="span-4">10 days ago</div>
        <div class="span-4">0 seconds</div>
      </div>
      <div class="row">
        <div class="span-4">Disable backups</div>
        <div class="span-4">10 days ago</div>
        <div class="span-4">0 seconds</div>
      </div>
    </div>


  </div>

  <div class="plate-tab" data-plate="settings-destroy">
    <div class="group info">
      <h2>Careful, this can't be undone!</h2>
      <p>If you want to destroy it, make sure:</p>
      <ul>
        <li>That all server actions are being handled by another server, or unneeded.</li>
        <li>That your team is aware that this server will no longer be available.</li>
        <li>That billing will be unaffected once this server is destroyed.</li>
      </ul>
    </div>
    <div class="group">
      <div class="action-handler">
        <form action="#">
          <input type="submit" value="Destroy server">
          <a href="#" class="button secondary">Notify the team</a>
        </form>       
      </div>
    </div>
  </div>
