<div class="group">
    <ul class="heading">
      <li class="span-3">Data Type</li>
      <li class="span-7">Description</li>
    </ul>
    
    <div class="row item-active">
      <div class="span-3" data-title="Data Type">
        Power Status
      </div>
      <div class="span-7 item-description" data-title="Description">
        Whether the server is active, or in standby mode.
      </div>
      <div class="span-2 item-status txt-right" data-title="Date">
        active
      </div>
    </div>
    
    <div class="row item-closed">
      <div class="span-3 item-title" data-title="Data Type">
        Public IP
      </div>
      <div class="span-7 item-description" data-title="Description">
        Used for accessing the server from a web browser.
      </div>
      <div class="span-2 item-status txt-right" data-title="Date">
        n/a
      </div>
    </div>
    
    <div class="row item-closed">
      <div class="span-3 item-title" data-title="Data Type">
        Public DNS
      </div>
      <div class="span-7 item-description" data-title="Description">
        Used for something else technical.
      </div>
      <div class="span-2 item-status txt-right" data-title="Date">
        unavailable
      </div>
    </div>
    
    <div class="row">
      <div class="span-3 item-title" data-title="Data Type">
        Private IP
      </div>
      <div class="span-7 item-description" data-title="Description">
        Used for something else technical.
      </div>
      <div class="span-2 item-status txt-right" data-title="Date">
        173.31.7.78
      </div>
    </div> 
    
    <div class="row item-closed">
      <div class="span-3 item-title" data-title="Data Type">
        Private DNS
      </div>
      <div class="span-7 item-description" data-title="Description">
        Used for something else technical.
      </div>
      <div class="span-2 item-status txt-right" data-title="Date">
        unavailable
      </div>
    </div>
    
    <div class="row item-closed">
      <div class="span-3 item-title" data-title="Data Type">
        Private Key
      </div>
      <div class="span-7 item-description" data-title="Description">
        Used for something else technical.
      </div>
      <div class="span-2 item-status txt-right" data-title="Date">
        <button class="button small" href="#">Download key</button>
      </div>
    </div>

    <div class="details-toggler single-line">
      <div class="group details-show" data-details="show">    
        <div class="row">
          <div class="span-3 item-title" data-title="Data Type">
            Login username
          </div>
          <div class="span-7 item-description" data-title="Description">
            Used for something else technical.
          </div>
          <div class="span-2 item-status txt-right" data-title="Date">
            indra51
          </div>
        </div> 
      </div>

      <div class="group details-edit" data-details="edit">
        <ul class="heading">
          <li class="span-4">Edit Login username</li>
          <li class="span-8">Confirm password</li>
        </ul>
        <div class="row">
          <div class="span-4">
          <input type="text" value="indra51">
          </div>
          <div class="span-4">
            <input type="password">
          </div>
          <div class="span-4 edit-highlighted">This action can't be undone</div>
        </div>
        <div class="row">
            <button class="plate-save button small" data-edit="close">Save changes</button>
            <button class="plate-cancel button small secondary" data-edit="close">Cancel</button>
        </div>
      </div>   
    </div>
    
    
    <div class="row">
      <div class="span-3 item-title" data-title="Data Type">
        Login password
      </div>
      <div class="span-7 item-description" data-title="Description">
        Used for something else technical.
      </div>
      <div class="span-2 item-status txt-right" data-title="Date">
        ******
      </div>
    </div> 
       
  </div>
    