  <div class="group">
    <ul class="heading">
      <li class="span-8">Snapshots</li>
      <li class="span-4">Date created</li>
    </ul>

    <div class="details-toggler divider">
      <div class="details-show" data-details="show"> 
        <div class="row">
          <div data-title="Name" class="span-8">
            Snapshot 1
          </div>
          <div data-title="Server" class="span-4">
            Feb 1. 2016.
          </div>
        </div>
      </div>

      <div data-details="edit" class="group details-edit">
        <ul class="heading">
          <li class="span-8">
            Snapshot 1
          </li>
          <li class="span-4">Feb 1. 2016.</li>
        </ul>
        <div class="row">
          <button class="button small">Revert to this</button>
          <button class="button small">Create server</button>
          <button data-edit="close" class="button small secondary">Cancel</button>
          <a data-edit="close" class="right" href="#">Delete</a>
        </div>
      </div>
    </div>

    <div class="details-toggler divider">
      <div class="details-show" data-details="show"> 
        <div class="row">
          <div data-title="Name" class="span-8">
            Old Snapshot
          </div>
          <div data-title="Server" class="span-4">
            Jun 1. 2015.
          </div>
        </div>
      </div>

      <div data-details="edit" class="group details-edit">
        <ul class="heading">
          <li class="span-8">
            Old Snapshot
          </li>
          <li class="span-4">Jun 1. 2015.</li>
        </ul>
        <div class="row">
          <button class="button small">Revert to this</button>
          <button class="button small">Create server</button>
          <button data-edit="close" class="button small secondary">Cancel</button>
          <a data-edit="close" class="right" href="#">Delete</a>
        </div>
      </div>
    </div>

    <div class="group">
      <div class="action-handler"> 
        <a class="button" href="snapshot-add-step0.html">Create new snapshot</a>
      </div> 
    </div>

  </div>