  <div class="group">  
    <ul class="sub-tabs" data-toggle-target="sub-network">
      <li class="left data-sub-description">Network: <span class="sub-target"></span></li>
      <li data-sub-tab="dns" data-sub-description="Domain Name System" data-toggle="sub-network">DNS</li>
      <li data-sub-tab="gateway" data-sub-description="Gateway" data-toggle="sub-network">Gateway</li>
      <li data-sub-tab="loadBalancers" data-sub-description="Load Balancers" data-toggle="sub-network" data-target-url="/eplexity/infrastructure.html?activeTab=network&activeSubTab=loadBalancers">Load Balancers</li>
      <li data-sub-tab="vpn" data-sub-description="Virtual Private Networks" data-toggle="sub-network">VPN</li>
      <li data-sub-tab="firewallRules" data-sub-description="Firewall Rules" data-toggle="sub-network">Firewall Rules</li>
    </ul>
    <div class="toggler-icon-hitarea" data-toggle="sub-network">
      <span class="edit-toggler-icon">&#9660;</span>
    </div>
    <div class="sub-tab-overlay" data-toggle="sub-network" data-toggle-target="sub-network"></div>    
  </div>

<!-- START DNS SUB TAB -->
  <div class="sub-plate-tab" data-sub-plate="dns">
    <div class="group">
      <ul class="heading">
        <li class="span-55 push-2">Name</li>
        <li class="span-2">IP address</li>
        <li class="span-2">Size</li>
        <li class="span-2">Datacenter</li>
      </ul>

      <a class="row" href="infrastructure-details.html">
        <div class="dropdown-edit has-options">
          <span class="edit-toggler-icon">&#9660;</span>
          <ul class="edit-toggler click-through">
            <li><span data-url="/infrastructure-details.html">Console Access</span></li>
            <li><span data-url="/infrastructure-details.html">View Details</span></li>
            <li><span data-url="/infrastructure-details.html">Tickets</span></li>
            <li><span data-url="/infrastructure-details.html">Monitoring</span></li>
            <li><span data-url="/infrastructure-details.html">Backups</span></li>
            <li><span data-url="/infrastructure-details.html">History</span></li>
            <li><span data-url="/infrastructure-details.html">Power Off</span></li>
          </ul>
        </div>
        <div class="span-55 push-2" data-title="Name">
          <span class="icon icon-platform-amazonaws"></span>
          Indra's Test Server
        </div>
        <div class="span-2" data-title="IP address">
          1.61.803.398
        </div>
        <div class="span-2 dropdown-info" data-title="Size">
          <ul>
            <li><span class="dropdown-info-title">X5</span>
              <ul>
                <li class="dropdown-info-title">
                  X5
                </li>
                <li>
                  <span class="left">vCPUs</span>
                  <span class="right">6</span>
                </li>
                <li>
                  <span class="left">vRAM</span>
                  <span class="right">8GB</span>
                </li>
                <li>
                  <span class="left">Storage</span>
                  <span class="right">160GB</span>
                </li>
                <li>
                  <span class="left">Net Egress</span>
                  <span class="right">6TB</span>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="span-2" data-title="Datacenter">
          100 TB
        </div>
      </a>

      <a class="row" href="infrastructure-details.html">
        <div class="dropdown-edit has-options">
          <span class="edit-toggler-icon">&#9660;</span>
          <ul class="edit-toggler click-through">
            <li><span>Console Access</span></li>
            <li><span>View Details</span></li>
            <li><span>Tickets</span></li>
            <li><span>Monitoring</span></li>
            <li><span>Backups</span></li>
            <li><span>History</span></li>
            <li><span>Power Off</span></li>
          </ul>
        </div>
        <div class="span-55 push-2" data-title="Name">
          <span class="icon icon-platform-amazonaws"></span>
          Win Server w/ SQL 2012
        </div>
        <div class="span-2" data-title="IP address">
          3.141.59.26
        </div>
        <div class="span-2 dropdown-info" data-title="Size">
          <ul>
            <li><span class="dropdown-info-title">X2</span>
              <ul>
                <li class="dropdown-info-title">
                  X2
                </li>
                <li>
                  <span class="left">vCPUs</span>
                  <span class="right">6</span>
                </li>
                <li>
                  <span class="left">vRAM</span>
                  <span class="right">8GB</span>
                </li>
                <li>
                  <span class="left">Storage</span>
                  <span class="right">160GB</span>
                </li>
                <li>
                  <span class="left">Net Egress</span>
                  <span class="right">6TB</span>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="span-2" data-title="Datacenter">
          150 TB
        </div>
      </a>

      <a class="row" href="infrastructure-details.html">
        <div class="dropdown-edit has-options">
          <span class="edit-toggler-icon">&#9660;</span>
          <ul class="edit-toggler click-through">
            <li><span>Console Access</span></li>
            <li><span>View Details</span></li>
            <li><span>Tickets</span></li>
            <li><span>Monitoring</span></li>
            <li><span>Backups</span></li>
            <li><span>History</span></li>
            <li><span>Power Off</span></li>
          </ul>
        </div>
        <div class="span-55 push-2" data-title="Name">
          <span class="icon icon-platform-amazonaws"></span>
          Win R2 2012
        </div>
        <div class="span-2" data-title="IP address">
          0.577.215.66
        </div>
        <div class="span-2 dropdown-info" data-title="Size">
          <ul>
            <li><span class="dropdown-info-title">X2</span>
              <ul>
                <li class="dropdown-info-title">
                  X2
                </li>
                <li>
                  <span class="left">vCPUs</span>
                  <span class="right">6</span>
                </li>
                <li>
                  <span class="left">vRAM</span>
                  <span class="right">8GB</span>
                </li>
                <li>
                  <span class="left">Storage</span>
                  <span class="right">160GB</span>
                </li>
                <li>
                  <span class="left">Net Egress</span>
                  <span class="right">6TB</span>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="span-2" data-title="Datacenter">
          200 TB
        </div>
      </a>

      <a class="row" href="infrastructure-details.html">
        <div class="dropdown-edit has-options">
          <span class="edit-toggler-icon">&#9660;</span>
          <ul class="edit-toggler click-through">
            <li><span>Console Access</span></li>
            <li><span>View Details</span></li>
            <li><span>Tickets</span></li>
            <li><span>Monitoring</span></li>
            <li><span>Backups</span></li>
            <li><span>History</span></li>
            <li><span>Power Off</span></li>
          </ul>
        </div>
        <div class="span-55 push-2" data-title="Name">
          <span class="icon icon-platform-vmwareblock"></span>
          AWS i-c4106819
        </div>
        <div class="span-2" data-title="IP address">
          0.577.215.66
        </div>
        <div class="span-2 dropdown-info" data-title="Size">
          <ul>
            <li><span class="dropdown-info-title">X3</span>
              <ul>
                <li class="dropdown-info-title">
                  X3
                </li>
                <li>
                  <span class="left">vCPUs</span>
                  <span class="right">6</span>
                </li>
                <li>
                  <span class="left">vRAM</span>
                  <span class="right">8GB</span>
                </li>
                <li>
                  <span class="left">Storage</span>
                  <span class="right">160GB</span>
                </li>
                <li>
                  <span class="left">Net Egress</span>
                  <span class="right">6TB</span>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="span-2" data-title="Datacenter">
          200 TB
        </div>
      </a>

      <a class="row" href="infrastructure-details.html">
        <div class="dropdown-edit has-options">
          <span class="edit-toggler-icon">&#9660;</span>
          <ul class="edit-toggler click-through">
            <li><span>Console Access</span></li>
            <li><span>View Details</span></li>
            <li><span>Tickets</span></li>
            <li><span>Monitoring</span></li>
            <li><span>Backups</span></li>
            <li><span>History</span></li>
            <li><span>Power Off</span></li>
          </ul>
        </div>
        <div class="span-55 push-2" data-title="Name">
          <span class="icon icon-platform-vmwareblock"></span>
          AWS i-886f1755
        </div>
        <div class="span-2" data-title="IP address">
          0.577.215.66
        </div>
        <div class="span-2 dropdown-info" data-title="Size">
          <ul>
            <li><span class="dropdown-info-title">X4</span>
              <ul>
                <li class="dropdown-info-title">
                  X4
                </li>
                <li>
                  <span class="left">vCPUs</span>
                  <span class="right">6</span>
                </li>
                <li>
                  <span class="left">vRAM</span>
                  <span class="right">8GB</span>
                </li>
                <li>
                  <span class="left">Storage</span>
                  <span class="right">160GB</span>
                </li>
                <li>
                  <span class="left">Net Egress</span>
                  <span class="right">6TB</span>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="span-2" data-title="Datacenter">
          200 TB
        </div>
      </a>

      <a class="row" href="infrastructure-details.html">
        <div class="dropdown-edit has-options">
          <span class="edit-toggler-icon">&#9660;</span>
          <ul class="edit-toggler click-through">
            <li><span>Console Access</span></li>
            <li><span>View Details</span></li>
            <li><span>Tickets</span></li>
            <li><span>Monitoring</span></li>
            <li><span>Backups</span></li>
            <li><span>History</span></li>
            <li><span>Power Off</span></li>
          </ul>
        </div>
        <div class="span-55 push-2" data-title="Name">
          <span class="icon icon-platform-vmwareblock"></span>
          AWS i-c4106819
        </div>
        <div class="span-2" data-title="IP address">
          0.577.215.66
        </div>
        <div class="span-2 dropdown-info" data-title="Size">
          <ul>
            <li><span class="dropdown-info-title">X3</span>
              <ul>
                <li class="dropdown-info-title">
                  X3
                </li>
                <li>
                  <span class="left">vCPUs</span>
                  <span class="right">6</span>
                </li>
                <li>
                  <span class="left">vRAM</span>
                  <span class="right">8GB</span>
                </li>
                <li>
                  <span class="left">Storage</span>
                  <span class="right">160GB</span>
                </li>
                <li>
                  <span class="left">Net Egress</span>
                  <span class="right">6TB</span>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="span-2" data-title="Datacenter">
          200 TB
        </div>
      </a>
   </div>      
  </div>
  
<!-- END DNS SUB TAB -->
<!-- START GATEWAY SUB TAB --> 
 
  <div class="sub-plate-tab" data-sub-plate="gateway">
    <div class="group">
      <ul class="heading">
        <li class="span-3 push-2">Name</li>
        <li class="span-2">Gateway IP</li>
        <li class="span-2">Router IP</li>
        <li class="span-1">Size</li>
        <li class="span-2">Datacenter</li>
        <li class="span-1">Status</li>
      </ul>

      <a class="row" href="gateway-details.html">
        <div class="dropdown-edit has-options">
          <span class="edit-toggler-icon">&#9660;</span>
          <ul class="edit-toggler click-through">
            <li><span data-url="gateway-details.html">Edit Gateway</span></li>
            <li><span data-url="#">Refresh Gateway</span></li>
            <li><span data-url="#">Remove</span></li>
          </ul>
        </div>
        <div class="span-3 push-2" data-title="CIDR">
         <span class="icon icon-gateway"></span>
          Gateway A
        </div>
        <div class="span-2" data-title="Gateway IP">
          123.323.21.2
        </div>
        <div class="span-2" data-title="Router IP">
          123.323.21.2
        </div>
        <div class="span-1" data-title="Size">
          X1
        </div>
        <div class="span-2" data-title="Datacenter">
          DC-01
        </div>
        <div class="span-2" data-title="Status">
          <span class="label success">Active</span>
        </div>
      </a>

      <a class="row" href="gateway-details.html">
        <div class="dropdown-edit has-options">
          <span class="edit-toggler-icon">&#9660;</span>
          <ul class="edit-toggler click-through">
            <li><span data-url="gateway-details.html">Edit Gateway</span></li>
            <li><span data-url="#">Refresh Gateway</span></li>
            <li><span data-url="#">Remove</span></li>
          </ul>
        </div>
        <div class="span-3 push-2" data-title="CIDR">
         <span class="icon icon-gateway"></span>
          Gateway A
        </div>
        <div class="span-2" data-title="Gateway IP">
          123.323.21.2
        </div>
        <div class="span-2" data-title="Router IP">
          123.323.21.2
        </div>
        <div class="span-1" data-title="Size">
          X1
        </div>
        <div class="span-2" data-title="Datacenter">
          DC-01
        </div>
        <div class="span-2" data-title="Status">
          <span class="label success">Active</span>
        </div>
      </a>

    </div>
  </div>
   
<!-- END GATEWAY SUB TAB --> 
<!-- START LOAD BALANCERS SUB TAB --> 

  <div class="sub-plate-tab" data-sub-plate="loadBalancers">
    <div class="group">
      <ul class="heading">
        <li class="span-7 push-2">Virtual IP</li>
        <li class="span-3">Load Balancer IP Address</li>
        <li class="span-2">Status</li>
      </ul>

      <a class="row" href="infrastructure-details.html">
        <div class="dropdown-edit has-options">
          <span class="edit-toggler-icon">&#9660;</span>
          <ul class="edit-toggler click-through">
            <li><span data-url="#">Refresh Load Balancer</span></li>
            <li><span data-url="#">Remove</span></li>
          </ul>
        </div>
        <div class="span-7 push-2" data-title="Virtual IP">
         <span class="icon icon-lb"></span>
          192.168.10.10
        </div>
        <div class="span-3" data-title="Load Balancer IP Address">
          0
        </div>
        <div class="span-2" data-title="Status">
          <span class="label success">Active</span>
        </div>
      </a>

      <a class="row" href="infrastructure-details.html">
        <div class="dropdown-edit has-options">
          <span class="edit-toggler-icon">&#9660;</span>
          <ul class="edit-toggler click-through">
            <li><span data-url="#">Refresh Load Balancer</span></li>
            <li><span data-url="#">Remove</span></li>
          </ul>
        </div>
        <div class="span-7 push-2" data-title="Virtual IP">
         <span class="icon icon-lb"></span>
          123.323.21.2
        </div>
        <div class="span-3" data-title="Load Balancer IP Address">
          123.323.21.2:8080
        </div>
        <div class="span-2" data-title="Status">
          <span class="label warning">Pending</span>
        </div>
      </a>
    </div>
  </div>

<!-- END LOAD BALANCERS SUB TAB --> 
<!-- START VPN SUB TAB -->  
 
  <div class="sub-plate-tab" data-sub-plate="vpn">
    <div class="group">
      <ul class="heading">
        <li class="span-5 push-2">Source IP</li>
        <li class="span-3">Destination IP Address</li>
        <li class="span-2">VPN Type</li>
        <li class="span-2">Status</li>
      </ul>

      <a class="row" href="infrastructure-details.html">
        <div class="dropdown-edit has-options">
          <span class="edit-toggler-icon">&#9660;</span>
          <ul class="edit-toggler click-through">
            <li><span data-url="#">Refresh VPN</span></li>
            <li><span data-url="#">Remove</span></li>
          </ul>
        </div>
        <div class="span-5 push-2" data-title="Source IP">
         <span class="icon icon-vpn"></span>
          192.168.10.10
        </div>
        <div class="span-3" data-title="Destination IP Address">
          192.168.10.22
        </div>
        <div class="span-2" data-title="VPN Type">
          ISKAKMP
        </div>
        <div class="span-2" data-title="Status">
          <span class="label success">Active</span>
        </div>
      </a>
    </div>
  </div>
  
<!-- END VPN SUB TAB -->  
<!-- START FIREWALL SUB TAB -->  
 
  <div class="sub-plate-tab" data-sub-plate="firewallRules">
    <div class="group">
      <ul class="heading">
        <li class="span-4 push-2">Name</li>
        <li class="span-3">Source (port after colon)</li>
        <li class="span-3">Destination (port after colon)</li>
        <li class="span-2">Status</li>
      </ul>

      <a class="row" href="infrastructure-details.html">
        <div class="dropdown-edit has-options">
          <span class="edit-toggler-icon">&#9660;</span>
          <ul class="edit-toggler click-through">
            <li><span data-url="#">Refresh Firewall Rule</span></li>
            <li><span data-url="#">Remove</span></li>
          </ul>
        </div>
        <div class="span-4 push-2" data-title="Name">
         <span class="icon icon-firewall"></span>
          Demo Firewall Rules
        </div>
        <div class="span-3" data-title="Source">
          192.168.10.22/10:10
        </div>
        <div class="span-3" data-title="Destination">
          192.168.10.22/10:10
        </div>
        <div class="span-2" data-title="Status">
          <span class="label success">Active</span>
        </div>
      </a>
    </div>
  </div>
  
<!-- END FIREWALL SUB TAB -->  
