    <div class="group">
    <ul class="heading">
      <li class="span-55 push-2">Name</li>
      <li class="span-2">IP address</li>
      <li class="span-2">Size</li>
      <li class="span-2">Datacenter</li>
    </ul>
    
    <a class="row" href="infrastructure-details.html?serverName=indra's test server">
      <div class="dropdown-edit has-options">
        <span class="edit-toggler-icon">&#9660;</span>
        <ul class="edit-toggler click-through">
          <li><span data-url="infrastructure-details.html?serverName=indra's test server&activeTab=access">Console Access</span></li>
          <li><span data-url="infrastructure-details.html?serverName=indra's test server&activeTab=specs">View Details</span></li>
          <li><span data-url="infrastructure-details.html?serverName=indra's test server&activeTab=tickets">Tickets</span></li>
          <li><span data-url="infrastructure-details.html?serverName=indra's test server&activeTab=monitoring">Monitoring</span></li>
          <li><span data-url="infrastructure-details.html?serverName=indra's test server&activeTab=settings-backups">Backups</span></li>
          <li><span data-url="infrastructure-details.html?serverName=indra's test server&activeTab=settings-history">History</span></li>
          <li><span data-url="infrastructure-details.html?serverName=indra's test server&activeTab=settings-power">Power Off</span></li>
        </ul>
      </div>
      <div class="span-55 push-2" data-title="Name">
        <span class="icon icon-platform-factionbloc"></span>
        Indra's Test Server
      </div>
      <div class="span-2" data-title="IP address">
        1.61.803.398
      </div>
      <div class="span-2" data-title="Size">
        <ul class="dropdown-info">
          <li><span class="dropdown-info-title">Red Oak</span>
            <ul>
              <li class="dropdown-info-title">
                Red Oak
              </li>
              <li>
                <span class="left">vCPUs</span>
                <span class="right">6</span>
              </li>
              <li>
                <span class="left">vRAM</span>
                <span class="right">8GB</span>
              </li>
              <li>
                <span class="left">Storage</span>
                <span class="right">160GB</span>
              </li>
              <li>
                <span class="left">Net Egress</span>
                <span class="right">6TB</span>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="span-2" data-title="Datacenter">
        100 TB
      </div>
    </a>
    
    <a class="row" href="infrastructure-details.html?serverName=Win Server w/ SQL 2012">
      <div class="dropdown-edit has-options">
        <span class="edit-toggler-icon">&#9660;</span>
        <ul class="edit-toggler click-through">
          <li><span data-url="infrastructure-details.html?serverName=Win Server w/ SQL 2012&activeTab=access">Console Access</span></li>
          <li><span data-url="infrastructure-details.html?serverName=Win Server w/ SQL 2012&activeTab=specs">View Details</span></li>
          <li><span data-url="infrastructure-details.html?serverName=Win Server w/ SQL 2012&activeTab=tickets">Tickets</span></li>
          <li><span data-url="infrastructure-details.html?serverName=Win Server w/ SQL 2012&activeTab=monitoring">Monitoring</span></li>
          <li><span data-url="infrastructure-details.html?serverName=Win Server w/ SQL 2012&activeTab=settings-backups">Backups</span></li>
          <li><span data-url="infrastructure-details.html?serverName=Win Server w/ SQL 2012&activeTab=settings-history">History</span></li>
          <li><span data-url="infrastructure-details.html?serverName=Win Server w/ SQL 2012&activeTab=settings-power">Power Off</span></li>
        </ul>
      </div>
      <div class="span-55 push-2" data-title="Name">
        <span class="icon icon-platform-factionbloc"></span>
        Win Server w/ SQL 2012
      </div>
      <div class="span-2" data-title="IP address">
        3.141.59.26
      </div>
      <div class="span-2" data-title="Size">
        <ul class="dropdown-info">
          <li><span class="dropdown-info-title">Dogwood</span>
            <ul>
              <li class="dropdown-info-title">
                Dogwood
              </li>
              <li>
                <span class="left">vCPUs</span>
                <span class="right">6</span>
              </li>
              <li>
                <span class="left">vRAM</span>
                <span class="right">8GB</span>
              </li>
              <li>
                <span class="left">Storage</span>
                <span class="right">160GB</span>
              </li>
              <li>
                <span class="left">Net Egress</span>
                <span class="right">6TB</span>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="span-2" data-title="Datacenter">
        150 TB
      </div>
    </a>
    
    <a class="row" href="infrastructure-details.html?serverName=Win R2 2012">
      <div class="dropdown-edit has-options">
        <span class="edit-toggler-icon">&#9660;</span>
        <ul class="edit-toggler click-through">
          <li><span data-url="infrastructure-details.html?serverName=Win R2 2012&activeTab=access">Console Access</span></li>
          <li><span data-url="infrastructure-details.html?serverName=Win R2 2012&activeTab=specs">View Details</span></li>
          <li><span data-url="infrastructure-details.html?serverName=Win R2 2012&activeTab=tickets">Tickets</span></li>
          <li><span data-url="infrastructure-details.html?serverName=Win R2 2012&activeTab=monitoring">Monitoring</span></li>
          <li><span data-url="infrastructure-details.html?serverName=Win R2 2012&activeTab=settings-backups">Backups</span></li>
          <li><span data-url="infrastructure-details.html?serverName=Win R2 2012&activeTab=settings-history">History</span></li>
          <li><span data-url="infrastructure-details.html?serverName=Win R2 2012&activeTab=settings-power">Power Off</span></li>
        </ul>
      </div>
      <div class="span-55 push-2" data-title="Name">
        <span class="icon icon-platform-factionbloc"></span>
        Win R2 2012
      </div>
      <div class="span-2" data-title="IP address">
        0.577.215.66
      </div>
      <div class="span-2" data-title="Size">
        <ul class="dropdown-info">
          <li><span class="dropdown-info-title">Dogwood</span>
            <ul>
              <li class="dropdown-info-title">
                Dogwood
              </li>
              <li>
                <span class="left">vCPUs</span>
                <span class="right">6</span>
              </li>
              <li>
                <span class="left">vRAM</span>
                <span class="right">8GB</span>
              </li>
              <li>
                <span class="left">Storage</span>
                <span class="right">160GB</span>
              </li>
              <li>
                <span class="left">Net Egress</span>
                <span class="right">6TB</span>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="span-2" data-title="Datacenter">
        200 TB
      </div>
    </a>
    
    <a class="row" href="infrastructure-details.html?serverName=AWS i-c4106819">
      <div class="dropdown-edit has-options">
        <span class="edit-toggler-icon">&#9660;</span>
        <ul class="edit-toggler click-through">
          <li><span data-url="infrastructure-details.html?serverName=AWS i-c4106819&activeTab=access">Console Access</span></li>
          <li><span data-url="infrastructure-details.html?serverName=AWS i-c4106819&activeTab=specs">View Details</span></li>
          <li><span data-url="infrastructure-details.html?serverName=AWS i-c4106819&activeTab=tickets">Tickets</span></li>
          <li><span data-url="infrastructure-details.html?serverName=AWS i-c4106819&activeTab=monitoring">Monitoring</span></li>
          <li><span data-url="infrastructure-details.html?serverName=AWS i-c4106819&activeTab=settings-backups">Backups</span></li>
          <li><span data-url="infrastructure-details.html?serverName=AWS i-c4106819&activeTab=settings-history">History</span></li>
          <li><span data-url="infrastructure-details.html?serverName=AWS i-c4106819&activeTab=settings-power">Power Off</span></li>
        </ul>
      </div>
      <div class="span-55 push-2" data-title="Name">
        <span class="icon icon-platform-factionbloc"></span>
        AWS i-c4106819
      </div>
      <div class="span-2" data-title="IP address">
        0.577.215.66
      </div>
      <div class="span-2" data-title="Size">
        <ul class="dropdown-info">
          <li><span class="dropdown-info-title">Aspen</span>
            <ul>
              <li class="dropdown-info-title">
                Aspen
              </li>
              <li>
                <span class="left">vCPUs</span>
                <span class="right">6</span>
              </li>
              <li>
                <span class="left">vRAM</span>
                <span class="right">8GB</span>
              </li>
              <li>
                <span class="left">Storage</span>
                <span class="right">160GB</span>
              </li>
              <li>
                <span class="left">Net Egress</span>
                <span class="right">6TB</span>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="span-2" data-title="Datacenter">
        200 TB
      </div>
    </a>
    
    <a class="row" href="infrastructure-details.html?serverName=AWS i-886f1755">
      <div class="dropdown-edit has-options">
        <span class="edit-toggler-icon">&#9660;</span>
        <ul class="edit-toggler click-through">
          <li><span data-url="infrastructure-details.html?serverName=AWS i-886f1755&activeTab=access">Console Access</span></li>
          <li><span data-url="infrastructure-details.html?serverName=AWS i-886f1755&activeTab=specs">View Details</span></li>
          <li><span data-url="infrastructure-details.html?serverName=AWS i-886f1755&activeTab=tickets">Tickets</span></li>
          <li><span data-url="infrastructure-details.html?serverName=AWS i-886f1755&activeTab=monitoring">Monitoring</span></li>
          <li><span data-url="infrastructure-details.html?serverName=AWS i-886f1755&activeTab=settings-backups">Backups</span></li>
          <li><span data-url="infrastructure-details.html?serverName=AWS i-886f1755&activeTab=settings-history">History</span></li>
          <li><span data-url="infrastructure-details.html?serverName=AWS i-886f1755&activeTab=settings-power">Power Off</span></li>
        </ul>
      </div>
      <div class="span-55 push-2" data-title="Name">
        <span class="icon icon-platform-factionbloc"></span>
        AWS i-886f1755
      </div>
      <div class="span-2" data-title="IP address">
        0.577.215.66
      </div>
      <div class="span-2" data-title="Size">
        <ul class="dropdown-info">
          <li><span class="dropdown-info-title">Hemlock</span>
            <ul>
              <li class="dropdown-info-title">
                Hemlock
              </li>
              <li>
                <span class="left">vCPUs</span>
                <span class="right">6</span>
              </li>
              <li>
                <span class="left">vRAM</span>
                <span class="right">8GB</span>
              </li>
              <li>
                <span class="left">Storage</span>
                <span class="right">160GB</span>
              </li>
              <li>
                <span class="left">Net Egress</span>
                <span class="right">6TB</span>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="span-2" data-title="Datacenter">
        200 TB
      </div>
    </a>
    
    <a class="row" href="infrastructure-details.html?serverName=AWS i-c4106819">
      <div class="dropdown-edit has-options">
        <span class="edit-toggler-icon">&#9660;</span>
        <ul class="edit-toggler click-through">
          <li><span data-url="infrastructure-details.html?serverName=AWS i-c4106819&activeTab=access">Console Access</span></li>
          <li><span data-url="infrastructure-details.html?serverName=AWS i-c4106819&activeTab=specs">View Details</span></li>
          <li><span data-url="infrastructure-details.html?serverName=AWS i-c4106819&activeTab=tickets">Tickets</span></li>
          <li><span data-url="infrastructure-details.html?serverName=AWS i-c4106819&activeTab=monitoring">Monitoring</span></li>
          <li><span data-url="infrastructure-details.html?serverName=AWS i-c4106819&activeTab=settings-backups">Backups</span></li>
          <li><span data-url="infrastructure-details.html?serverName=AWS i-c4106819&activeTab=settings-history">History</span></li>
          <li><span data-url="infrastructure-details.html?serverName=AWS i-c4106819&activeTab=settings-power">Power Off</span></li>
        </ul>
      </div>
      <div class="span-55 push-2" data-title="Name">
        <span class="icon icon-platform-factionbloc"></span>
        AWS i-c4106819
      </div>
      <div class="span-2" data-title="IP address">
        0.577.215.66
      </div>
      <div class="span-2" data-title="Size">
        <ul class="dropdown-info">
          <li><span class="dropdown-info-title">Aspen</span>
            <ul>
              <li class="dropdown-info-title">
                Aspen
              </li>
              <li>
                <span class="left">vCPUs</span>
                <span class="right">6</span>
              </li>
              <li>
                <span class="left">vRAM</span>
                <span class="right">8GB</span>
              </li>
              <li>
                <span class="left">Storage</span>
                <span class="right">160GB</span>
              </li>
              <li>
                <span class="left">Net Egress</span>
                <span class="right">6TB</span>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="span-2" data-title="Datacenter">
        200 TB
      </div>
    </a>
  </div>
  