    <div class="console">
      <img src="images/console-mock.png" />
    </div>

    <div class="group">
      <h3 class="row">Private</h3>
      <div class="row">
        <div class="span-4">IP Adress</div>
        <div class="span-8">10.132.165.38</div>
      </div>
      <div class="row">
        <div class="span-4">Gateway</div>
        <div class="span-8">10.132.01</div>
      </div>
      <div class="row">
        <div class="span-4">Netmask</div>
        <div class="span-8">255.255.0.0</div>
      </div>
    </div>
    <div class="group">
      <h3 class="row">Public</h3>
      <div class="row">
        <div class="span-4">IP Adress</div>
        <div class="span-8">10.132.165.38</div>
      </div>
      <div class="row">
        <div class="span-4">Gateway</div>
        <div class="span-8">10.132.01</div>
      </div>
      <div class="row">
        <div class="span-4">Netmask</div>
        <div class="span-8">255.255.0.0</div>
      </div>
    </div>
    <div class="group">
      <button>Send access files to a team member</button>
    </div>
    