  <div class="group">
    <ul class="heading">
      <li class="span-5">Ticket title</li>
      <li class="span-7">Description</li>
    </ul>
    <a class="row item-active" href="/ticket-details.html">
      <div class="span-5 item-title" data-title="Ticket title">
        Scheduled Maintenance on 24/12/2015
      </div>
      <div class="span-6 item-description" data-title="Description">
        That's great, I was hoping it wouldn't happen right when it did happen, but now that it did happen...
      </div>
      <div class="span-1 item-status txt-right" data-title="Date">
        open
      </div>
    </a>
    <a class="row item-closed" href="/ticket-details.html">
      <div class="span-5 item-title" data-title="Ticket title">
        Add Manages Backups to Faction Server 1
      </div>
      <div class="span-6 item-description" data-title="Description">
        Thanks so much, I was worried it might be a case of another one of those non-determined...
      </div>
      <div class="span-1 item-status txt-right" data-title="Date">
        closed
      </div>
    </a>
    <a class="row item-closed" href="/ticket-details.html">
      <div class="span-5 item-title" data-title="Ticket title">
        Question about Managed Backups
      </div>
      <div class="span-6 item-description" data-title="Description">
        You're quite right. All you need to do is enable it in your user backend area to see it.
      </div>
      <div class="span-1 item-status txt-right" data-title="Date">
        closed
      </div>
    </a>
    <a class="row item-closed" href="/ticket-details.html">
      <div class="span-5 item-title" data-title="Ticket title">
        Scheduled maintenance July 2015
      </div>
      <div class="span-6 item-description" data-title="Description">
        Scheduled maintenance announcement: On July 4th 2016
      </div>
      <div class="span-1 item-status txt-right" data-title="Date">
        closed
      </div>
    </a>    
  </div>
  