    <div class="group">
      <ul class="heading">
        <li class="span-5 push-2">Operating Systems</li>
        <li class="span-7">Description</li>
      </ul>
      
      <div class="row">
        <div class="span-5 push-2" data-title="OS">
          <span class="icon icon-platform-factionbloc"></span>
          Wordpress
        </div>
        <div class="span-55" data-title="Description">
          Most popular blogging platform on the web.
        </div>
        <div class="span-15 txt-right">
          <form action="infrastructure-add-step2.html">
            <input type="hidden" name="bloc" value="a">
            <input type="submit" class="button small" value="Select">
          </form>
        </div>
      </div>
      
      <div class="row" href="infrastructure-details.html?serverName=AWS i-c4106819">
        <div class="span-5 push-2" data-title="OS">
          <span class="icon icon-platform-factionbloc"></span>
          Ruby on Rails
        </div>
        <div class="span-55" data-title="Description">
          Convention-based web application framework.
        </div>
        <div class="span-15 txt-right">
          <form action="infrastructure-add-step2.html">
            <input type="hidden" name="bloc" value="a">
            <input type="submit" class="button small" value="Select">
          </form>
        </div>
      </div>
      
      <div class="row" href="infrastructure-details.html?serverName=AWS i-c4106819">
        <div class="span-5 push-2" data-title="OS">
          <span class="icon icon-platform-factionbloc"></span>
          Drupal
        </div>
        <div class="span-55" data-title="Description">
          Content management and ecommerce platform.
        </div>
        <div class="span-15 txt-right">
          <form action="infrastructure-add-step2.html">
            <input type="hidden" name="bloc" value="a">
            <input type="submit" class="button small" value="Select">
          </form>
        </div>
      </div>
      
      <div class="row" href="infrastructure-details.html?serverName=AWS i-c4106819">
        <div class="span-5 push-2" data-title="OS">
          <span class="icon icon-platform-factionbloc"></span>
          Wordpress
        </div>
        <div class="span-55" data-title="Description">
          Most popular blogging platform on the web.
        </div>
        <div class="span-15 txt-right">
          <form action="infrastructure-add-step2.html">
            <input type="hidden" name="bloc" value="a">
            <input type="submit" class="button small" value="Select">
          </form>
        </div>
      </div>
      
      <ul class="heading">
        <li class="span-5 push-2">Web Applications</li>
        <li class="span-7">Description</li>
      </ul>
      
      <div class="row">
        <div class="span-5 push-2" data-title="Web App">
          <span class="icon icon-platform-factionbloc"></span>
          Wordpress
        </div>
        <div class="span-55" data-title="Description">
          Most popular blogging platform on the web.
        </div>
        <div class="span-15 txt-right">
          <form action="infrastructure-add-step2.html">
            <input type="hidden" name="bloc" value="a">
            <input type="submit" class="button small" value="Select">
          </form>
        </div>
      </div>
      
      <div class="row" href="infrastructure-details.html?serverName=AWS i-c4106819">
        <div class="span-5 push-2" data-title="Web App">
          <span class="icon icon-platform-factionbloc"></span>
          Ruby on Rails
        </div>
        <div class="span-55" data-title="Description">
          Convention-based web application framework.
        </div>
        <div class="span-15 txt-right">
          <form action="infrastructure-add-step2.html">
            <input type="hidden" name="bloc" value="a">
            <input type="submit" class="button small" value="Select">
          </form>
        </div>
      </div>
      
      <div class="row" href="infrastructure-details.html?serverName=AWS i-c4106819">
        <div class="span-5 push-2" data-title="Web App">
          <span class="icon icon-platform-factionbloc"></span>
          Drupal
        </div>
        <div class="span-55" data-title="Description">
          Content management and ecommerce platform.
        </div>
        <div class="span-15 txt-right">
          <form action="infrastructure-add-step2.html">
            <input type="hidden" name="bloc" value="a">
            <input type="submit" class="button small" value="Select">
          </form>
        </div>
      </div>
      
      <div class="row" href="infrastructure-details.html?serverName=AWS i-c4106819">
        <div class="span-5 push-2" data-title="Web App">
          <span class="icon icon-platform-factionbloc"></span>
          Wordpress
        </div>
        <div class="span-55" data-title="Description">
          Most popular blogging platform on the web.
        </div>
        <div class="span-15 txt-right">
          <form action="infrastructure-add-step2.html">
            <input type="hidden" name="bloc" value="a">
            <input type="submit" class="button small" value="Select">
          </form>
        </div>
      </div>
    
    </div>