  <div class="group">  
    <ul class="sub-tabs">
      <li data-sub-tab="block" class="sub-active">Block</li>
      <li data-sub-tab="object">Object</li>
      <li data-sub-tab="file">File</li>
    </ul>
  </div>

  <div class="sub-plate-tab" data-sub-plate="block">
    <div class="group">
      <ul class="heading">
        <li class="span-3 push-2">Name</li>
        <li class="span-2">Server</li>
        <li class="span-2">Platform</li>
        <li class="span-2">Volume ID</li>
        <li class="span-2">Capacity</li>
        <li class="span-1">IOPs</li>
      </ul>

      <div class="details-toggler divider">
        <div data-details="show"> 
          <div class="row">
            <div class="span-3 push-2" data-title="Name">
              <span class="icon icon-platform-factionbloc"></span>
              Disk 1
            </div>
            <div class="span-2" data-title="Server">
              Faction Server 1
            </div>
            <div class="span-2" data-title="Platform">
              Faction Bloc A
            </div>
            <div class="span-2" data-title="Volume ID">
              IQ
            </div>
            <div class="span-2" data-title="Capacity">
              100GB
            </div>
            <div class="span-1" data-title="IOPs">
              1,000
            </div>
          </div>
        </div>

        <div class="group" data-details="edit">
          <ul class="heading">
            <li class="span-3 push-2">
              <span class="icon icon-platform-factionbloc"></span>
              <input placeholder="Disk 1">
            </li>
            <li class="span-2">Total</li>
            <li class="span-2">Available</li>
          </ul>
          <div class="row sub">
            <div class="span-3 push-2" data-title="Name">Capacity</div>
            <div class="span-2" data-title="Server">
              <input value="100" placeholder="Capacity…" class="half connected-left">
              <div class="select half connected-right">
                <select name="units">
                  <option value="GB">GB</option>
                  <option value="TB">TB</option>
                  <option value="MB">MB</option>
                </select>
              </div>
            </div>
            <div class="span-2" data-title="Platform">
              200GB
            </div>
          </div>
          <div class="row">
            <div class="span-3 push-2" data-title="Name">IOPs</div>
            <div class="span-2" data-title="Server">
              <input value="100" placeholder="1000">
            </div>
            <div class="span-2" data-title="Platform">
              1250
            </div>
          </div>
          <div class="row">
            <button class="button small" data-edit="close">Save changes</button>
            <button class="button small secondary" data-edit="close">Cancel</button>
            <a href="#" class="right" data-edit="close">Delete</a>
          </div>
        </div>
      </div>

      <div class="details-toggler divider">
        <div data-details="show">
          <div class="row">
            <div class="span-3 push-2" data-title="Name">
              <span class="icon icon-platform-factionbloc"></span>
              Disk 2
            </div>
            <div class="span-2" data-title="Server">
              Faction Server 1
            </div>
            <div class="span-2" data-title="Platform">
              Faction Bloc A
            </div>
            <div class="span-2" data-title="Volume ID">
              IQ
            </div>
            <div class="span-2" data-title="Capacity">
              100GB
            </div>
            <div class="span-1" data-title="IOPs">
              1,000
            </div>
          </div>
        </div>

        <div class="group" data-details="edit">
          <ul class="heading">
            <li class="span-3 push-2">
              <span class="icon icon-platform-factionbloc"></span>
              <input placeholder="Disk 2">
            </li>
            <li class="span-2">Total</li>
            <li class="span-2">Available</li>
          </ul>
          <div class="row sub">
            <div class="span-3 push-2" data-title="Name">Capacity</div>
            <div class="span-2" data-title="Server">
              <input value="100" placeholder="Capacity…" class="half connected-left">
              <div class="select half connected-right">
                <select name="units">
                  <option value="GB">GB</option>
                  <option value="TB">TB</option>
                  <option value="MB">MB</option>
                </select>
              </div>
            </div>
            <div class="span-2" data-title="Platform">
              200GB
            </div>
          </div>
          <div class="row">
            <div class="span-3 push-2" data-title="Name">IOPs</div>
            <div class="span-2" data-title="Server">
              <input value="100" placeholder="1000">
            </div>
            <div class="span-2" data-title="Platform">
              1250
            </div>
          </div>
          <div class="row">
            <button class="button small" data-edit="close">Save changes</button>
            <button class="button small secondary" data-edit="close">Cancel</button>
            <a href="#" class="right" data-edit="close">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sub-plate-tab" data-sub-plate="object">
    <div class="group">
      <ul class="heading">
        <li class="span-4 push-2">Name</li>
        <li class="span-3">Platform</li>
        <li class="span-2">Volume ID</li>
        <li class="span-3">Capacity</li>
      </ul>

      <div class="details-toggler divider">
        <div data-details="show">      
          <div class="row">
            <div class="span-4 push-2" data-title="Name">
              <span class="icon icon-platform-factionbloc"></span>
              Disk 1
            </div>
            <div class="span-3" data-title="Platform">
              Faction Bloc A
            </div>
            <div class="span-2" data-title="Volume ID">
              IQ
            </div>
            <div class="span-3" data-title="Capacity">
              Infinite
            </div>
          </div>
        </div>

        <div class="group" data-details="edit">     
          <div class="row">
            <div class="span-4 push-2" data-title="Name">
              <span class="icon icon-platform-factionbloc"></span>
              Disk 1
            </div>
            <div class="span-3" data-title="Platform">
              Faction Bloc A
            </div>
            <div class="span-2" data-title="Volume ID">
              IQ
            </div>
            <div class="span-3" data-title="Capacity">
              Infinite
            </div>
          </div>
          <div class="row">Some data</div>
          <div class="row">
            <button class="button small">Email these to a team member</button>
            <button class="button small secondary" data-edit="close">Close</button>
            <a href="#" class="right" data-edit="close">Delete</a>
          </div>
        </div>
      </div>

      <div class="details-toggler divider">
        <div data-details="show">      
          <div class="row">
            <div class="span-4 push-2" data-title="Name">
              <span class="icon icon-platform-factionbloc"></span>
              Disk 2
            </div>
            <div class="span-3" data-title="Platform">
              Faction Bloc A
            </div>
            <div class="span-2" data-title="Volume ID">
              IQ
            </div>
            <div class="span-3" data-title="Capacity">
              Infinite
            </div>
          </div>
        </div>

        <div class="group" data-details="edit">     
          <div class="row">
            <div class="span-4 push-2" data-title="Name">
              <span class="icon icon-platform-factionbloc"></span>
              Disk 2
            </div>
            <div class="span-3" data-title="Platform">
              Faction Bloc A
            </div>
            <div class="span-2" data-title="Volume ID">
              IQ
            </div>
            <div class="span-3" data-title="Capacity">
              Infinite
            </div>
          </div>
          <div class="row">Some data</div>
          <div class="row">
            <button class="button small">Email these to a team member</button>
            <button class="button small secondary" data-edit="close">Close</button>
            <a href="#" class="right" data-edit="close">Delete</a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="sub-plate-tab" data-sub-plate="file">
    <div class="group">
      <ul class="heading">
        <li class="span-4 push-2">Name</li>
        <li class="span-3">Object</li>
        <li class="span-3">Platform</li>
        <li class="span-2">Capacity</li>
      </ul>

      <div class="details-toggler divider">
        <div data-details="show"> 
          <div class="row">
            <div class="span-4 push-2" data-title="Name">
              <span class="icon icon-platform-factionbloc"></span>
              Disk 1
            </div>
            <div class="span-3" data-title="Object">
              IQ
            </div>
            <div class="span-3" data-title="Platform">
              Faction Bloc A
            </div>
            <div class="span-2" data-title="Capacity">
              Infinite
            </div>
          </div>
        </div>

        <div class="group" data-details="edit"> 
          <div class="row">
            <div class="span-4 push-2" data-title="Name">
              <span class="icon icon-platform-factionbloc"></span>
              Disk 1
            </div>
            <div class="span-3" data-title="Object">
              IQ
            </div>
            <div class="span-3" data-title="Platform">
              Faction Bloc A
            </div>
            <div class="span-2" data-title="Capacity">
              Infinite
            </div>
          </div>  
          <div class="row">Some data</div>
          <div class="row">
            <button class="button small">Email these to a team member</button>
            <button class="button small secondary" data-edit="close">Close</button>
            <a href="#" class="right" data-edit="close">Delete</a>
          </div>
        </div>      
      </div>

      <div class="details-toggler divider">
        <div data-details="show"> 
          <div class="row">
            <div class="span-4 push-2" data-title="Name">
              <span class="icon icon-platform-factionbloc"></span>
              Disk 2
            </div>
            <div class="span-3" data-title="Object">
              IQ
            </div>
            <div class="span-3" data-title="Platform">
              Faction Bloc A
            </div>
            <div class="span-2" data-title="Capacity">
              Infinite
            </div>
          </div>
        </div>

        <div class="group" data-details="edit"> 
          <div class="row">
            <div class="span-4 push-2" data-title="Name">
              <span class="icon icon-platform-factionbloc"></span>
              Disk 2
            </div>
            <div class="span-3" data-title="Object">
              IQ
            </div>
            <div class="span-3" data-title="Platform">
              Faction Bloc A
            </div>
            <div class="span-2" data-title="Capacity">
              Infinite
            </div>
          </div>  
          <div class="row">Some data</div>
          <div class="row">
            <button class="button small">Email these to a team member</button>
            <button class="button small secondary" data-edit="close">Close</button>
            <a href="#" class="right" data-edit="close">Delete</a>
          </div>
        </div>      
      </div>

    </div>
  </div>
