  <div class="group">  
    <ul class="sub-tabs">
      <li data-sub-tab="dns" class="sub-active">DNS</li>
      <li data-sub-tab="gateway">Gateway</li>
      <li data-sub-tab="loadBalancers">Load Balancers</li>
      <li data-sub-tab="vpn">VPN</li>
    </ul>
  </div>

  <div class="sub-plate-tab" data-sub-plate="dns">
    <div class="group">
      <ul class="heading">
        <li class="span-3">Name</li>
        <li class="span-2">Status</li>
        <li class="span-3">Contact</li>
        <li class="span-2">TTL</li>
        <li class="span-2">Minimum</li>
      </ul>

      <div class="details-toggler divider">
        <div class="details-show" data-details="show">  
          <div class="row">
            <div class="span-3" data-title="Name">
              Test.test.com
            </div>
            <div class="span-2" data-title="Status">
              <span class="label success">Active</span>
            </div>
            <div class="span-3" data-title="Contact">
              <a href="mailto:test@test.com">test@test.com</a>
            </div>
            <div class="span-2" data-title="TTL">
              10,800
            </div>
            <div class="span-2" data-title="Min.">
              10,800
            </div>
          </div>
        </div>

        <div class="group details-edit" data-details="edit"> 
          <ul class="heading">
            <li class="span-3">Test.test.com</li>
            <li class="span-2">Type</li>
            <li class="span-2">Content</li>
            <li class="span-2">TTL</li>
            <li class="span-3">Server</li>
          </ul>  
          <div class="row">
            <div class="span-3" data-title="Name">
              <input value="Test1a.test.com">
            </div>
            <div class="span-2" data-title="Status">
              <select name="type">
                <option value="a">A</option>
                <option value="b">B</option>
              </select>
            </div>
            <div class="span-2" data-title="Contact">
              <input value="52.34.134.200">
            </div>
            <div class="span-2" data-title="TTL">
              <input value="10,800">
            </div>
            <div class="span-3 push-2-right" data-title="Min.">
              <select name="type">
                <option value="a">Faction Server 1</option>
              </select>
              <span class="icon-right icon icon-trash inactive"></span>
            </div>
          </div>
          <div class="row">
            <div class="span-3" data-title="Name">
              <input value="Test1b.test.com">
            </div>
            <div class="span-2" data-title="Status">
              <select name="type">
                <option value="a">A</option>
                <option value="b">B</option>
              </select>
            </div>
            <div class="span-2" data-title="Contact">
              <input value="52.34.134.200">
            </div>
            <div class="span-2" data-title="TTL">
              <input value="10,800">
            </div>
            <div class="span-3 push-2-right" data-title="Min.">
              <select name="type">
                <option value="a">Faction Server 1</option>
              </select>
              <span class="icon-right icon icon-trash inactive"></span>
            </div>
          </div> 
          <div class="row">  
            <div class="span-4 counted">
              <span class="count">+</span>
              <a href="#" class="value">Add a record</a>
            </div>
          </div>

          <div class="row">
            <button class="button small">Save changes</button>
            <button class="button small secondary" data-edit="close">Disable</button>
            <button class="button small secondary" data-edit="close">Cancel</button>
            <a href="#" class="right" data-edit="close">Delete this DNS</a>
          </div>
        </div> 
      </div>

      <div class="details-toggler divider">
        <div class="details-show" data-details="show">  
          <div class="row">
            <div class="span-3" data-title="Name">
              Test2.test.com
            </div>
            <div class="span-2" data-title="Status">
              <span class="label warning">Inactive</span>
            </div>
            <div class="span-3" data-title="Contact">
              <a href="mailto:test@test.com">test@test.com</a>
            </div>
            <div class="span-2" data-title="TTL">
              10,800
            </div>
            <div class="span-2" data-title="Min.">
              10,800
            </div>
          </div>
        </div>

        <div class="group details-edit" data-details="edit"> 
          <ul class="heading">
            <li class="span-3">Test2.test.com</li>
            <li class="span-2">Type</li>
            <li class="span-2">Content</li>
            <li class="span-2">TTL</li>
            <li class="span-3">Server</li>
          </ul>  
          <div class="row">
            <div class="span-3" data-title="Name">
              <input value="Test2a.test.com">
            </div>
            <div class="span-2" data-title="Status">
              <select name="type">
                <option value="a">A</option>
                <option value="b">B</option>
              </select>
            </div>
            <div class="span-2" data-title="Contact">
              <input value="52.34.134.200">
            </div>
            <div class="span-2" data-title="TTL">
              <input value="10,800">
            </div>
            <div class="span-3 push-2-right" data-title="Min.">
              <select name="type">
                <option value="a">Faction Server 1</option>
              </select>
              <span class="icon-right icon icon-trash inactive"></span>
            </div>
          </div>
          <div class="row">
            <div class="span-3" data-title="Name">
              <input value="Test2b.test.com">
            </div>
            <div class="span-2" data-title="Status">
              <select name="type">
                <option value="a">A</option>
                <option value="b">B</option>
              </select>
            </div>
            <div class="span-2" data-title="Contact">
              <input value="52.34.134.200">
            </div>
            <div class="span-2" data-title="TTL">
              <input value="10,800">
            </div>
            <div class="span-3 push-2-right" data-title="Min.">
              <select name="type">
                <option value="a">Faction Server 1</option>
              </select>
              <span class="icon-right icon icon-trash inactive"></span>
            </div>
          </div> 
          <div class="row">  
            <div class="span-4 counted">
              <span class="count">+</span>
              <a href="#" class="value">Add a record</a>
            </div>
          </div>

          <div class="row">
            <button class="button small">Save changes</button>
            <button class="button small secondary" data-edit="close">Disable</button>
            <button class="button small secondary" data-edit="close">Cancel</button>
            <a href="#" class="right" data-edit="close">Delete this DNS</a>
          </div>
        </div> 
      </div>

    </div>
    <div class="group">
      <div class="action-handler"> 
        <a class="button" href="dns-add-step0.html">Add a DNS</a>
      </div>
    </div>
  </div>

  <div class="sub-plate-tab" data-sub-plate="gateway">
    <div class="group">
      <ul class="heading">
        <li class="span-3">Name</li>
        <li class="span-3">Size</li>
        <li class="span-3">Status</li>
        <li class="span-3">IP Address</li>
      </ul>

      <div class="row">
        <div class="span-3" data-title="Name">
          <a href="gateway-details.html">Gateway A</a>
        </div>
        <div class="span-3" data-title="Size">
          180GB
        </div>
        <div class="span-3" data-title="Status">
          <span class="label success">Active</span>
        </div>
        <div class="span-3" data-title="IP Address">
          123.323.21.2
        </div>
      </div>

      <div class="row">
        <div class="span-3" data-title="Name">
          <a href="gateway-details.html">Gateway A</a>
        </div>
        <div class="span-3" data-title="Size">
          180GB
        </div>
        <div class="span-3" data-title="Status">
          <span class="label warning">Inactive</span>
        </div>
        <div class="span-3" data-title="IP Address">
          123.323.21.2
        </div>
      </div>
    </div>
  </div>

  <div class="sub-plate-tab" data-sub-plate="loadBalancers">
    <div class="group">
      <ul class="heading">
        <li class="span-2">Name</li>
        <li class="span-2">IP Address</li>
        <li class="span-2">Username</li>
        <li class="span-2">Password</li>
        <li class="span-2">Model</li>
        <li class="span-2">Access</li>
      </ul>

      <div class="row">
        <div class="span-2" data-title="Name">
          <a href="loadbalancer-details.html">Test Title 1</a>
        </div>
        <div class="span-2" data-title="IP Address">
          123.323.21.2
        </div>
        <div class="span-2" data-title="Username">
          Petester
        </div>
        <div class="span-2" data-title="Password">
          TestMe123
        </div>
        <div class="span-2" data-title="Model">
          Data
        </div>
        <div class="span-2" data-title="Access">
          Data
        </div>
      </div>

      <div class="row">
        <div class="span-2" data-title="Name">
          <a href="loadbalancer-details.html">Test Title 2</a>
        </div>
        <div class="span-2" data-title="IP Address">
          123.323.21.2
        </div>
        <div class="span-2" data-title="Username">
          Petester
        </div>
        <div class="span-2" data-title="Password">
          TestMe123
        </div>
        <div class="span-2" data-title="Model">
          Data
        </div>
        <div class="span-2" data-title="Access">
          Data
        </div>
      </div>

    </div>
    <div class="group">
      <div class="action-handler"> 
        <a class="button" href="#">Add a Load Balancer</a>
      </div>
    </div>
  </div>

  <div class="sub-plate-tab" data-sub-plate="vpn">
    <div class="group">
      <ul class="heading">
        <li class="span-3">Name</li>
        <li class="span-3">Platform</li>
        <li class="span-3">Gateway ID</li>
        <li class="span-3">Type</li>
      </ul>

      <div class="row">
        <div class="span-3" data-title="Name">
          <a href="#">Test Title 1</a>
        </div>
        <div class="span-3" data-title="Platform">
          Faction Bloc A
        </div>
        <div class="span-3" data-title="Gateway ID">
          12345
        </div>
        <div class="span-3" data-title="Type">
          Example Type
        </div>
      </div>
    </div>

    <div class="group">
      <div class="action-handler"> 
        <a class="button" href="#">Add a VPN</a>
      </div>
    </div>
  </div>
