  <div class="group">  
    <ul class="sub-tabs">
      <li class="left data-sub-description">Storage Type: <span class="sub-target"></span></li>
      <li data-sub-tab="block" data-sub-description="Block" class="sub-active">Block</li>
      <li data-sub-tab="object" data-sub-description="Object">Object</li>
    </ul>
  </div>

  <div class="sub-plate-tab" data-sub-plate="block">
    <div class="group">
      <ul class="heading">
        <li class="span-4 push-2">Name</li>
        <li class="span-2">Capacity</li>
        <li class="span-3">Server</li>
        <li class="span-3">Datacenter</li>
      </ul>
      
<!-- START ONE BLOCK ITEM -->
      <div class="details-toggler single-line" data-remove-target="Disk466">
        <div class="details-show details-highlight-row" data-details="show"> 
          <div class="row">
            <div class="dropdown-edit has-options">
              <span class="edit-toggler-icon">&#9660;</span>
              <ul class="edit-toggler click-through">
                <li><span data-details="open">Edit Storage</span></li>
                <li><span data-remove="Disk466">Remove</span></li>
              </ul>
            </div>
            <div class="span-4 push-2" data-title="Name">
              <span class="icon icon-platform-amazonaws"></span>
              Disk 466
            </div>
            <div class="span-2" data-title="Capacity">
              10GB
            </div>
            <div class="span-3" data-title="Server">
              Disconnected
            </div>
            <div class="span-3" data-title="Datacenter">
              DC1
            </div>
          </div>
        </div>

        <div class="group details-edit" data-details="edit">
          <div class="row">
            <div class="span-4 push-2">
              <span class="icon icon-platform-amazonaws"></span>
              <input placeholder="Disk 466">
            </div>
            <div class="span-2">
              <input value="500" placeholder="Capacity…" class="half connected-left">
              <div class="select half connected-right">
                <select name="units">
                  <option value="GB">GB</option>
                  <option value="TB">TB</option>
                  <option value="MB">MB</option>
                </select>
              </div>
            </div>
            <div class="span-3">
              <div class="select select-full">
                <select name="connection">
                  <option value="disconnected">Disconnected</option>
                  <option value="connected">Connected</option>
                </select>
              </div>
            </div>
            <div class="span-3">
              <div class="select select-full">
                <select name="connection">
                  <option value="disconnected">DC1</option>
                  <option value="connected">DC2</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <button class="button small" data-edit="close">Save changes</button>
            <button class="button small secondary" data-edit="close">Cancel</button>
          </div>
        </div>
      </div>
<!-- END ONE BLOCK ITEM -->
      
<!-- START ONE BLOCK ITEM -->
      <div class="details-toggler single-line" data-remove-target="Disk467">
        <div class="details-show details-highlight-row" data-details="show"> 
          <div class="row">
            <div class="dropdown-edit has-options">
              <span class="edit-toggler-icon">&#9660;</span>
              <ul class="edit-toggler click-through">
                <li><span data-details="open">Edit Storage</span></li>
                <li><span data-remove="Disk467">Remove</span></li>
              </ul>
            </div>
            <div class="span-4 push-2" data-title="Name">
              <span class="icon icon-platform-amazonaws"></span>
              Disk 467
            </div>
            <div class="span-2" data-title="Capacity">
              10GB
            </div>
            <div class="span-3" data-title="Server">
              Disconnected
            </div>
            <div class="span-3" data-title="Datacenter">
              DC1
            </div>
          </div>
        </div>

        <div class="group details-edit" data-details="edit">
          <div class="row">
            <div class="span-4 push-2">
              <span class="icon icon-platform-amazonaws"></span>
              <input placeholder="Disk 467">
            </div>
            <div class="span-2">
              <input value="500" placeholder="Capacity…" class="half connected-left">
              <div class="select half connected-right">
                <select name="units">
                  <option value="GB">GB</option>
                  <option value="TB">TB</option>
                  <option value="MB">MB</option>
                </select>
              </div>
            </div>
            <div class="span-3">
              <div class="select select-full">
                <select name="connection">
                  <option value="disconnected">Disconnected</option>
                  <option value="connected">Connected</option>
                </select>
              </div>
            </div>
            <div class="span-3">
              <div class="select select-full">
                <select name="connection">
                  <option value="disconnected">DC1</option>
                  <option value="connected">DC2</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <button class="button small" data-edit="close">Save changes</button>
            <button class="button small secondary" data-edit="close">Cancel</button>
          </div>
        </div>
      </div>
<!-- END ONE BLOCK ITEM -->

<!-- START ONE BLOCK ITEM -->
      <div class="details-toggler single-line" data-remove-target="Disk469">
        <div class="details-show details-highlight-row" data-details="show"> 
          <div class="row">
            <div class="dropdown-edit has-options">
              <span class="edit-toggler-icon">&#9660;</span>
              <ul class="edit-toggler click-through">
                <li><span data-details="open">Edit Storage</span></li>
                <li><span data-remove="Disk469">Remove</span></li>
              </ul>
            </div>
            <div class="span-4 push-2" data-title="Name">
              <span class="icon icon-platform-amazonaws"></span>
              Disk 469
            </div>
            <div class="span-2" data-title="Capacity">
              10GB
            </div>
            <div class="span-3" data-title="Server">
              Disconnected
            </div>
            <div class="span-3" data-title="Datacenter">
              DC1
            </div>
          </div>
        </div>

        <div class="group details-edit" data-details="edit">
          <div class="row">
            <div class="span-4 push-2">
              <span class="icon icon-platform-amazonaws"></span>
              <input placeholder="Disk 469">
            </div>
            <div class="span-2">
              <input value="500" placeholder="Capacity…" class="half connected-left">
              <div class="select half connected-right">
                <select name="units">
                  <option value="GB">GB</option>
                  <option value="TB">TB</option>
                  <option value="MB">MB</option>
                </select>
              </div>
            </div>
            <div class="span-3">
              <div class="select select-full">
                <select name="connection">
                  <option value="disconnected">Disconnected</option>
                  <option value="connected">Connected</option>
                </select>
              </div>
            </div>
            <div class="span-3">
              <div class="select select-full">
                <select name="connection">
                  <option value="disconnected">DC1</option>
                  <option value="connected">DC2</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <button class="button small" data-edit="close">Save changes</button>
            <button class="button small secondary" data-edit="close">Cancel</button>
          </div>
        </div>
      </div>
<!-- END ONE BLOCK ITEM -->
   
<!-- START ONE BLOCK ITEM -->
      <div class="details-toggler single-line" data-remove-target="Disk470">
        <div class="details-show details-highlight-row" data-details="show"> 
          <div class="row">
            <div class="dropdown-edit has-options">
              <span class="edit-toggler-icon">&#9660;</span>
              <ul class="edit-toggler click-through">
                <li><span data-details="open">Edit Storage</span></li>
                <li><span data-remove="Disk470">Remove</span></li>
              </ul>
            </div>
            <div class="span-4 push-2" data-title="Name">
              <span class="icon icon-platform-vmwareblock"></span>
              Disk 470
            </div>
            <div class="span-2" data-title="Capacity">
              10GB
            </div>
            <div class="span-3" data-title="Server">
              Disconnected
            </div>
            <div class="span-3" data-title="Datacenter">
              DC1
            </div>
          </div>
        </div>

        <div class="group details-edit" data-details="edit">
          <div class="row">
            <div class="span-4 push-2">
              <span class="icon icon-platform-amazonaws"></span>
              <input placeholder="Disk 470">
            </div>
            <div class="span-2">
              <input value="500" placeholder="Capacity…" class="half connected-left">
              <div class="select half connected-right">
                <select name="units">
                  <option value="GB">GB</option>
                  <option value="TB">TB</option>
                  <option value="MB">MB</option>
                </select>
              </div>
            </div>
            <div class="span-3">
              <div class="select select-full">
                <select name="connection">
                  <option value="disconnected">Disconnected</option>
                  <option value="connected">Connected</option>
                </select>
              </div>
            </div>
            <div class="span-3">
              <div class="select select-full">
                <select name="connection">
                  <option value="disconnected">DC1</option>
                  <option value="connected">DC2</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <button class="button small" data-edit="close">Save changes</button>
            <button class="button small secondary" data-edit="close">Cancel</button>
          </div>
        </div>
      </div>
<!-- END ONE BLOCK ITEM -->
    </div>
  </div>

<!-- START OBJECT TAB -->
  <div class="sub-plate-tab" data-sub-plate="object">
    <div class="group">
      <ul class="heading">
        <li class="span-5 push-2">File Name</li>
        <li class="span-7">DataCenter</li>
      </ul>

<!-- START ONE BLOCK ITEM -->
      <div class="details-toggler single-line" data-remove-target="filename">
        <div class="details-show details-highlight-row" data-details="show">      
          <div class="row">
            <div class="dropdown-edit has-options">
              <span class="edit-toggler-icon">&#9660;</span>
              <ul class="edit-toggler click-through">
                <li><span data-details="open">Edit Storage</span></li>
                <li><span>View in Browser</span></li>
                <li><span data-remove="filename">Remove</span></li>
              </ul>
            </div>
            <div class="span-5 push-2" data-title="Name">
              <span class="icon icon-platform-amazonaws"></span>
              director/filename.pdf
            </div>
            <div class="span-7" data-title="Platform">
              John's New DC-005
            </div>
          </div>
        </div>

        <div class="group details-edit" data-details="edit">  
          <div class="row" data-remove-target="thisRow">
            <div class="span-5 push-2">
              <span class="icon icon-platform-amazonaws"></span>
              <input placeholder="John's New DC-005">
            </div>
            <div class="span-6">
              Directory and datacenter changes coming soon
            </div>
            <div class="span1 txt-right" data-edit="close"><span class="icon-rounded icon-highlighted" data-remove="thisRow">&times;</span></div>
          </div>
          <div class="row" data-remove-target="nextRow">
            <div class="span-5 push-2">
              <span class="icon icon-platform-amazonaws"></span>
              <input placeholder="John's New DC-006">
            </div>
            <div class="span-6">
              Directory and datacenter changes coming soon
            </div>
            <div class="span1 txt-right" data-edit="close"><span class="icon-rounded icon-highlighted" data-remove="nextRow">&times;</span></div>
          </div>
          <div class="row">
            <button class="button small" data-edit="close">Save changes</button>
            <button class="button small secondary" data-edit="close">Cancel</button>
          </div>
        </div>
      </div>
<!-- END ONE BLOCK ITEM -->

    </div>
  </div>
