  <div class="group">
    <ul class="heading">
      <li class="span-4 push-2">Users you manage</li>
      <li class="span-4">Email Addresses</li>
      <li class="span-4">Roles</li>
    </ul>

<!-- START ONE USER -->
    <div class="details-toggler single-line">
      <div class="group details-show" data-details="show">    
        <div class="row">
          <div class="span-4 push-2 item-title" data-title="User">
            <span class="icon">182</span>John Clendennen
          </div>
          <div class="span-4 item-description" data-title="Email">
            john.clendennen@eplexity.com
          </div>
          <div class="span-4 item-description" data-title="Role">
            Tech Support
          </div>
        </div> 
      </div>

      <div class="group details-edit" data-details="edit">
        <ul class="heading">
          <li class="span-4 push-2"><span class="icon">182</span>Edit John Clendennen</li>
          <li class="span-4">Email Addresses</li>
          <li class="span-4">Role</li>
        </ul>
        <div class="row" data-remove-target="182-1">
          <div class="span-4 push-2">
          <input type="text" name="user" value="John Clendennen">
          </div>
          <div class="span-4">
            <input type="email" name="email" value="john.clendennen@eplexity.com">
          </div>
          <div class="span-4">
            <div class="span-6">
              <select name="role" id="role" class="select-full">
                <option value="tech">Tech Support</option>
                <option value="client">Client</option>
                <option value="master">Master</option>
              </select>
            </div>
            <div class="span-6">
              <!--<a href="#">Log in as..</a>-->
              <span class="icon-rounded icon-highlighted" data-remove="182-1">&times;</span>
            </div>
          </div>
        </div>
        
        <div class="row" data-remove-target="182-2">
          <div class="span-4 push-2">
            <input type="text" name="user" value="">
          </div>
        </div>
        
        <div class="row">
            <button class="plate-save button small" data-edit="close">Save changes</button>
            <button class="plate-cancel button small" data-edit="close">Reset Password</button>
            <button class="plate-cancel button small secondary" data-edit="close">Cancel</button>
        </div> 
      </div>
    </div> 
<!-- END ONE USER -->
<!-- START ONE USER -->
    <div class="details-toggler single-line">
      <div class="group details-show" data-details="show">    
        <div class="row">
          <div class="span-4 push-2 item-title" data-title="User">
            <span class="icon">183</span>Indra Mukherjee
          </div>
          <div class="span-4 item-description" data-title="Email">
            indra@eplexity.com
          </div>
          <div class="span-4 item-description" data-title="Role">
            Tech Support
          </div>
        </div> 
      </div>

      <div class="group details-edit" data-details="edit">
        <ul class="heading">
          <li class="span-4 push-2"><span class="icon">183</span>Edit Indra Mukherjee</li>
          <li class="span-4">Email Addresses</li>
          <li class="span-4">Role</li>
        </ul>
        <div class="row" data-remove-target="183-1">
          <div class="span-4 push-2">
          <input type="text" name="user" value="Indra Mukherjee">
          </div>
          <div class="span-4">
            <input type="email" name="email" value="indra@eplexity.com">
          </div>
          <div class="span-4">
            <div class="span-6">
              <select name="role" id="role" class="select-full">
                <option value="tech">Tech Support</option>
                <option value="client">Client</option>
                <option value="master">Master</option>
              </select>
            </div>
            <div class="span-6">
              <!--<a href="#">Log in as..</a>-->
              <span class="icon-rounded icon-highlighted" data-remove="183-1">&times;</span>
            </div>
          </div>
        </div>
        
        <div class="row" data-remove-target="183-2">
          <div class="span-4 push-2">
            <input type="text" name="user" value="">
          </div>
        </div>
        
        <div class="row">
            <button class="plate-save button small" data-edit="close">Save changes</button>
            <button class="plate-cancel button small" data-edit="close">Reset Password</button>
            <button class="plate-cancel button small secondary" data-edit="close">Cancel</button>
        </div> 
      </div>
    </div> 
<!-- END ONE USER -->
<!-- START ONE USER -->
    <div class="details-toggler single-line">
      <div class="group details-show" data-details="show">    
        <div class="row">
          <div class="span-4 push-2 item-title" data-title="User">
            <span class="icon">184</span>John Colinson
          </div>
          <div class="span-4 item-description" data-title="Email">
            john.colinson@eplexity.com
          </div>
          <div class="span-4 item-description" data-title="Role">
            Tech Support
          </div>
        </div> 
      </div>

      <div class="group details-edit" data-details="edit">
        <ul class="heading">
          <li class="span-4 push-2"><span class="icon">184</span>John Colinson</li>
          <li class="span-4">Email Addresses</li>
          <li class="span-4">Role</li>
        </ul>
        <div class="row" data-remove-target="184-1">
          <div class="span-4 push-2">
          <input type="text" name="user" value="John Colinson">
          </div>
          <div class="span-4">
            <input type="email" name="email" value="john.colinson@eplexity.com">
          </div>
          <div class="span-4">
            <div class="span-6">
              <select name="role" id="role" class="select-full">
                <option value="tech">Tech Support</option>
                <option value="client">Client</option>
                <option value="master">Master</option>
              </select>
            </div>
            <div class="span-6">
              <!--<a href="#">Log in as..</a>-->
              <span class="icon-rounded icon-highlighted" data-remove="184-1">&times;</span>
            </div>
          </div>
        </div>
        
        <div class="row" data-remove-target="184-2">
          <div class="span-4 push-2">
            <input type="text" name="user" value="">
          </div>
        </div>
        
        <div class="row">
            <button class="plate-save button small" data-edit="close">Save changes</button>
            <button class="plate-cancel button small" data-edit="close">Reset Password</button>
            <button class="plate-cancel button small secondary" data-edit="close">Cancel</button>
        </div> 
      </div>
    </div> 
<!-- END ONE USER -->
      
  </div>
  