  <div class="group">
    <ul class="heading">
      <li class="span-4">Role Name</li>
      <li class="span-4">Admin</li>
      <li class="span-4">Users</li>
    </ul>

<!-- START ONE ROLE -->
    <div class="details-toggler single-line">
      <div class="group details-show" data-details="show">    
        <div class="row">
          <div class="span-4" data-title="Role">
            Tech Support
          </div>
          <div class="span-4 item-description" data-title="Admin">
            Yes
          </div>
          <div class="span-4 item-description" data-title="Users">
            4
          </div>
        </div> 
      </div>

      <div class="group details-edit" data-details="edit">
        <ul class="heading">
          <li class="span-4">Edit Role</li>
          <li class="span-8">Edit Privileges</li>
        </ul>
        <div class="row">
          <div class="span-4">
          <input type="text" name="role" value="Tech Support">
          </div>
          <div class="span-8">
            <div class="span-6">
              <input type="checkbox" name="privilege" value="acces-base">Admin Access<br>
              <input type="checkbox" name="privilege" value="acces-1">Access Criteria #1<br>
              <input type="checkbox" name="privilege" value="acces-2">Access Criteria #2
            </div>
            <div class="span-6">
              <input type="checkbox" name="privilege" value="acces-3">Access Criteria #3<br>
              <input type="checkbox" name="privilege" value="acces-4">Access Criteria #4<br>
              <input type="checkbox" name="privilege" value="acces-5">Access Criteria #5
            </div>
          </div>
        </div>
        
        <div class="row">
            <button class="plate-save button small" data-edit="close">Save changes</button>
            <button class="plate-cancel button small" data-edit="close">Delete</button>
            <button class="plate-cancel button small secondary" data-edit="close">Cancel</button>
        </div> 
      </div>
    </div> 
<!-- END ONE ROLE -->
<!-- START ONE ROLE -->
    <div class="details-toggler single-line">
      <div class="group details-show" data-details="show">    
        <div class="row">
          <div class="span-4" data-title="Role">
            System Admin
          </div>
          <div class="span-4 item-description" data-title="Admin">
            Yes
          </div>
          <div class="span-4 item-description" data-title="Users">
            1
          </div>
        </div> 
      </div>

      <div class="group details-edit" data-details="edit">
        <ul class="heading">
          <li class="span-4">Edit Role</li>
          <li class="span-8">Edit Privileges</li>
        </ul>
        <div class="row">
          <div class="span-4">
          <input type="text" name="role" value="System Admin">
          </div>
          <div class="span-8">
            <div class="span-6">
              <input type="checkbox" name="privilege" value="acces-base">Admin Access<br>
              <input type="checkbox" name="privilege" value="acces-1">Access Criteria #1<br>
              <input type="checkbox" name="privilege" value="acces-2">Access Criteria #2
            </div>
            <div class="span-6">
              <input type="checkbox" name="privilege" value="acces-3">Access Criteria #3<br>
              <input type="checkbox" name="privilege" value="acces-4">Access Criteria #4<br>
              <input type="checkbox" name="privilege" value="acces-5">Access Criteria #5
            </div>
          </div>
        </div>
        
        <div class="row">
            <button class="plate-save button small" data-edit="close">Save changes</button>
            <button class="plate-cancel button small" data-edit="close">Delete</button>
            <button class="plate-cancel button small secondary" data-edit="close">Cancel</button>
        </div> 
      </div>
    </div> 
<!-- END ONE ROLE -->
<!-- START ONE ROLE -->
    <div class="details-toggler single-line">
      <div class="group details-show" data-details="show">    
        <div class="row">
          <div class="span-4" data-title="Role">
            Customer Contact
          </div>
          <div class="span-4 item-description" data-title="Admin">
            Yes
          </div>
          <div class="span-4 item-description" data-title="Users">
            2
          </div>
        </div> 
      </div>

      <div class="group details-edit" data-details="edit">
        <ul class="heading">
          <li class="span-4">Edit Role</li>
          <li class="span-8">Edit Privileges</li>
        </ul>
        <div class="row">
          <div class="span-4">
          <input type="text" name="role" value="Customer Contact">
          </div>
          <div class="span-8">
            <div class="span-6">
              <input type="checkbox" name="privilege" value="acces-base">Admin Access<br>
              <input type="checkbox" name="privilege" value="acces-1">Access Criteria #1<br>
              <input type="checkbox" name="privilege" value="acces-2">Access Criteria #2
            </div>
            <div class="span-6">
              <input type="checkbox" name="privilege" value="acces-3">Access Criteria #3<br>
              <input type="checkbox" name="privilege" value="acces-4">Access Criteria #4<br>
              <input type="checkbox" name="privilege" value="acces-5">Access Criteria #5
            </div>
          </div>
        </div>
        
        <div class="row">
            <button class="plate-save button small" data-edit="close">Save changes</button>
            <button class="plate-cancel button small" data-edit="close">Delete</button>
            <button class="plate-cancel button small secondary" data-edit="close">Cancel</button>
        </div> 
      </div>
    </div> 
<!-- END ONE ROLE -->
<!-- START ONE ROLE -->
    <div class="details-toggler single-line">
      <div class="group details-show" data-details="show">    
        <div class="row">
          <div class="span-4" data-title="Role">
            Other Role
          </div>
          <div class="span-4 item-description" data-title="Admin">
            No
          </div>
          <div class="span-4 item-description" data-title="Users">
            0
          </div>
        </div> 
      </div>

      <div class="group details-edit" data-details="edit">
        <ul class="heading">
          <li class="span-4">Edit Role</li>
          <li class="span-8">Edit Privileges</li>
        </ul>
        <div class="row">
          <div class="span-4">
          <input type="text" name="role" value="Other Role">
          </div>
          <div class="span-8">
            <div class="span-6">
              <input type="checkbox" name="privilege" value="acces-base">Admin Access<br>
              <input type="checkbox" name="privilege" value="acces-1">Access Criteria #1<br>
              <input type="checkbox" name="privilege" value="acces-2">Access Criteria #2
            </div>
            <div class="span-6">
              <input type="checkbox" name="privilege" value="acces-3">Access Criteria #3<br>
              <input type="checkbox" name="privilege" value="acces-4">Access Criteria #4<br>
              <input type="checkbox" name="privilege" value="acces-5">Access Criteria #5
            </div>
          </div>
        </div>
        
        <div class="row">
            <button class="plate-save button small" data-edit="close">Save changes</button>
            <button class="plate-cancel button small" data-edit="close">Delete</button>
            <button class="plate-cancel button small secondary" data-edit="close">Cancel</button>
        </div> 
      </div>
    </div> 
<!-- END ONE ROLE -->
        
  </div>
      