  <div class="group">
    <ul class="heading">
      <li class="span-4">Email</li>
      <li class="span-5">Name</li>
      <li class="span-3">Action</li>
    </ul>
    
    <div class="row testuser">
      <div class="span-4" data-title="Email">
        cxos@eplexity.com
      </div>
      <div class="span-5" data-title="Name">
        Master User
      </div>
      <div class="span-3" data-title="Action">
        <a href="#" class="small button">Impersonate As</a>
      </div>
    </div>
    
    <div class="row testuser">
      <div class="span-4" data-title="Email">
        support@eplexity.com
      </div>
      <div class="span-5" data-title="Name">
        Eplexity Inc
      </div>
      <div class="span-3" data-title="Action">
        <a href="#" class="small button">Impersonate As</a>
      </div>
    </div>
    
    <div class="row testuser">
      <div class="span-4" data-title="Email">
        demo@eplexity.com
      </div>
      <div class="span-5" data-title="Name">
        CXOS Demo
      </div>
      <div class="span-3" data-title="Action">
        <a href="#" class="small button">Impersonate As</a>
      </div>
    </div>
    
    <div class="row">
      <div class="span-4" data-title="Email">
        products@eplexity.com
      </div>
      <div class="span-5" data-title="Name">
        Eplexity Support
      </div>
      <div class="span-3" data-title="Action">
        --
      </div>
    </div>
    
    <div class="row">
      <div class="span-4" data-title="Email">
        mbartling@mdvaluate.com
      </div>
      <div class="span-5" data-title="Name">
        Mark Bartling
      </div>
      <div class="span-3" data-title="Action">
        --
      </div>
    </div>
    
    <div class="row">
      <div class="span-4" data-title="Email">
        jc@cloudxos.io
      </div>
      <div class="span-5" data-title="Name">
        support eplexity
      </div>
      <div class="span-3" data-title="Action">
        --
      </div>
    </div>
    
    <div class="row">
      <div class="span-4" data-title="Email">
        jc@cxos.io
      </div>
      <div class="span-5" data-title="Name">
        John Clendennen
      </div>
      <div class="span-3" data-title="Action">
        --
      </div>
    </div>
    
    <div class="row">
      <div class="span-4" data-title="Email">
        christopher.egloff@eplexity.com
      </div>
      <div class="span-5" data-title="Name">
        Chris Egloff
      </div>
      <div class="span-3" data-title="Action">
        --
      </div>
   
   
  </div>
  