.actions {
	margin-bottom: $small-spacing;

  &+.plate.tabbed { margin-top: $base-spacing*2; }
}

.action-handler {
  text-align: center;
  margin-bottom: 2em;

  input { display: inline-block; }

  p { padding: 0 $small-spacing; }
}

:last-child .action-handler {
  margin-bottom: 0;
}

.action-info {
  margin: -0.5em auto 2em;
  padding: 0 1em;
  max-width: 40em;
  text-align: center;
}

.action-infobox {
  background: white;
  margin: $small-spacing auto;
  padding: $base-spacing $small-spacing $base-spacing / 2;
  max-width: 75%;
  text-align: center;
  border: 1px solid $green;
  border-radius: $base-border-radius;
  position: relative;

  p {
    font-size: .9em;
  }
}

.action-close {
  display: block;
  position: absolute;
  right: 0em;
  top: 0em;
  cursor: pointer;
  height: 2em;
  width: 2em;
  line-height: 1.8;
  font-size: 1.3em;
  color: $medium-gray;

  &:hover { color: $dark-gray; }

  @include media(max-width $medium-screen) { 
      background: $dark-gray;
      border-radius: 50%;
      color: white;
      height: 1em;
      line-height: 1;
      right: -0.5em;
      top: -0.5em;
      width: 1em;

      &:hover { color: $light-gray; }
    }
}

.action-buttons {
  @include media(max-width $medium-screen) {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
