.details-show {
  cursor: pointer;
  border: 1px solid transparent;
  margin: 0;
  transition: background $base-duration;
  position: relative;

  &:hover {
      background: $plate-hover;
  }	
}

.details-edit {
  background: $plate-blue;
  margin: 0 0 $small-spacing;

  a:not(.button) { color: $red; }

  .row { 
    line-height: 2; 

    select { line-height: 1.5; }
  }
}

.dropdown-edit { 
  position: absolute;
  right: $small-spacing;
  top: $base-spacing/3;
  cursor: pointer;
  z-index: 100;
  
  @include media(max-width $medium-screen){
    right: 0;
    padding: 1em !important;
    width: auto !important;
  }

  .edit-toggler {
    @extend .toggler-visual;
    opacity: 0;   
    right: 0;
    top: -$small-spacing/2;

    &.is-activated {
      opacity: 1;
      
      @include media(max-width $medium-screen){
        li { padding: .5em 0; }
      }
    }
    
    span {
      font-size: .9em;
      padding: $small-spacing/2 $small-spacing/3;
      transition: color $base-duration;
      
      &:hover {
        color: red;
      }
    }
  }
  
  .edit-toggler-icon {
    color: $red;
    transform: scaleX(1) scaleY(.75);
    display: inline-block;
  }
  
  .is-highlighted &,
  a.row:hover & {
    right: $small-spacing + $base-spacing;
    top: calc(#{$base-spacing/3} + .375em); 
        
    @include media(max-width $medium-screen){
    z-index: 110;
    }
  }
}

.dropdown-info {
  position: relative;
  
  .dropdown-info-title {
    cursor: pointer;
    display: inline-block;
    width: 100%;
  }
  
  li ul {
    @extend .toggler-visual;
    pointer-events: none;
    opacity: 0;
    font-weight: 500;
    font-size: .9em;
    left: -.75em;
    top: -.375em;
    
    li { 
      width: 100%;
      float: left;
      color: $gray;
    }
    
    .dropdown-info-title {
      font-size: 16px;
      color: $base-font-color;
    }
  }
  
  .dropdown-info-title:hover + ul {
    opacity: 1;
  }
}

.icon-rounded {
      display: inline-block;
      width: 1.2em;
      height: 1.2em;
      border-radius: 50%;
      font-weight: bold;
      font-size: 1.1em;
      text-align: center;
      cursor: pointer;
      line-height: 1.25;
  
    &.icon-highlighted {
      background: darken($plate-higlight, 10);
      color: $plate-blue;
  }
  
    &.icon-regular {
      background: lighten($gray, 10);
      color: $white;
  }
}
