//dropdown menu that works with down arrows
.toggler-visual {
  transition: all $base-duration;
  padding: $small-spacing/2 $small-spacing;
  box-shadow: 0px 2px 3px 1px rgba(0,0,0,.11);
  background: $white; 
  z-index: 10;
  font-weight: 500;
  font-size: .9em;
  position: absolute;
  display: inline-block;
  white-space: nowrap;
}

//remove input type text styling in order for it to appear as regular text
.unfielded {
  border: none !important;
  padding: 0 !important;
  background: transparent !important;
  box-shadow: none !important;
  display: inline !important;
}

//truncate text 
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

//row activator (hover or active states row that spreads to plate borders)
.activate-row {
  background: $plate-blue;
  left: -$base-spacing;
  padding-right: $base-spacing;
  width: calc(100% + #{$base-spacing*2});
  border-top: 1px solid $plate-higlight;
  border-bottom: 1px solid $plate-higlight !important;
  padding-left: $base-spacing;
}

//data attribute title for mobile layouts
.data-title {
    &:before {
    @media (max-width $medium-screen){
      content: attr(data-title);
      display: block;
      position: absolute;
      max-width: $small-spacing*9;
      left: 2.5em;
      color: $medium-gray;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
