.icon {
  position: absolute;
  display: block;
  height: 1.7em;
  width: 1.7em;
  border-radius: $base-border-radius;
  left: 0; 
  top: 0;
  background-repeat: no-repeat;
  background-size: contain;

  &.icon-right { 
      right: 0;
      left: auto;
  }

  &.icon-trash { 
      top: .5em;
  }

  &.icon-logo { 
      background-image: url('../images/logo.png');
  }
  
  &.icon-suptext {    
    height: 4.1em;
    width: 4.1em;
    font-size: .5em;
    text-indent: 5px;
  }
  
  &.icon-inline {
    position: relative;
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
  }

  $platforms: factionbloc, amazonaws, vmwareblock;
  $apps: rubyonrails, wordpress, nodejs, phpmyadmin, redis;
  $distros: ubuntu, freebsd, fedora;
  $others: billing-pdf, trash, size-1, size-2, size-3, size-4, size-5, firewall, gateway, info, lb, star-off, star-on, vpn;

  @each $platform in $platforms {
    &.icon-platform-#{$platform} {
      background-image: url('../images/icon-platform-#{$platform}.png');
    }
  }

  @each $distro in $distros {
    &.icon-distro-#{$distro} {
      background-image: url('../images/icon-distro-#{$distro}.png');
    }
  }

  @each $app in $apps {
    &.icon-app-#{$app} {
      background-image: url('../images/icon-app-#{$app}.png');
    }
  }

  @each $other in $others {
    &.icon-#{$other} {
      background-image: url('../images/icon-#{$other}.png');
    }
  }
}

.label {
  background: $bright-gray;
  border-radius: $base-border-radius;
  padding: .25em .5em .35em;
  font-size: .7em;
  text-transform: uppercase;
  color: $medium-gray;

  &.success {
    background: $light-green;
    color: shade($green, 20);
  }

  &.warning {
    background: $bright-red;
    color: shade($red, 20);
  }
}	
