@import
  "plate",
  "actions"
;

.page-header {
  .site-title { 
    text-align: center; 
    padding: 0 $base-spacing;
  }

  @include media($medium-screen) {
    padding-top: 3em;
  }
}

.page-content {
  @include outer-container;
  padding-bottom: 3em;
}

.page-footer {
  margin-top: $small-spacing;
  text-align: center; 
  background: $dark-gray;
  color: $medium-gray;
  padding: 2em;
  position: static;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 0;
}

.lead {
  text-align: center;
  font-size: 1.1em;
}

.top-link {
  text-align: center;
  margin-top: $base-spacing;

  a { 
    color: $medium-gray;

    &:hover { color: $red; }
  }
}

//base grid
.span-1 { @include span-columns(1); }
.span-2 { @include span-columns(2); }
.span-3 { @include span-columns(3); }
.span-4 { @include span-columns(4); }
.span-5 { @include span-columns(5); }
.span-6 { @include span-columns(6); }
.span-7 { @include span-columns(7); }
.span-8 { @include span-columns(8); }
.span-9 { @include span-columns(9); }
.span-10 { @include span-columns(10); }
.span-11 { @include span-columns(11); }

.push-1 { padding-left: $base-spacing; }
.push-2 { 
  padding-left: $base-spacing*2;
  position: relative
}

//additional element widths to conform with grid values
.range-4 { width: 31.7616% !important; }

//generic helper/override classes
.inactive { opacity: .5; pointer-events: none; }
.hide { display: none !important; }
.right { float: right !important; }
.left { float: left !important; }
.txt-center { text-align: center; }
.plural:after { content: 's' }
