@import
        "plate",
        "actions"
;

.page-header {
  .site-title { 
    text-align: center; 
    padding: 0 $base-spacing;
  }
}

.page-content {
    @include outer-container;
}

.page-footer {
    @include outer-container;
    margin-top: $small-spacing;
    text-align: center; 
    }

.lead {
  text-align: center;
  font-size: 1.1em;
}

//generic helper/override classes
.hide { display: none !important; }
.right { float: right !important; }
