.marketplace {  

  .plate { 
    //border: $base-border;

    &.plate-marketplace { 
      padding: $base-spacing;
      
      .span-6 {
        padding-right: $base-spacing/3;
        
        &:nth-child(2n) {
          padding-right: 0;
          padding-left: $base-spacing/3;
        }
      }
    }
    
    &.marketplace-review {
      margin-bottom: $base-spacing;
    }
  }
}

.marketplace-catalog {
  .page-header {
    margin-bottom: 2em;
  }
}

.marketplace-review-title { 
  //font-size: 1.1em; 
}

.marketplace-nav {
  
  h3 {
    //font-size: $base-font-size*.9;
    line-height: 1.65;
    margin-bottom: $base-spacing;
    width: 100%;
    @extend .truncate;
    text-transform: uppercase;
  }
  
  li {
    display: block;
    float: left;
    clear: both;
    //font-size: .8em;
    line-height: 1.35;
    margin: 0;
    width: 100%;
    margin-bottom: 1.25em;
    
    a { 
      //color: $black; 
      text-decoration: none;
      transition: all $base-duration;
      
      &:hover { color: $teal; }
      
      &.active { font-weight: bold; }
    }
  }
}

.box-link {
  display: block;
  position: relative;
  transition: all $base-duration;
}
  
.section-box-link {
  @extend .box-link;
  color: $dark-gray;
  border-left: $base-border;
  border-bottom: $base-border;
  padding: $base-spacing;
  margin-bottom: 0;
  text-decoration: none;
  position: relative;
  padding-left: calc(1.5em + 204px);
  float: left;
  min-height: calc(#{$base-spacing*2} + 142px);
  width: 100%;

  &:first-child { 
    padding-top: 0; 
    min-height: calc(#{$base-spacing} + 142px);
  }

  &:last-child { 
    border-bottom: none;
    padding-bottom: 0; 
    min-height: calc(#{$base-spacing} + 142px); 
  }

  &:hover { color: $action-color; }

  img { 
    position: absolute;
    left: $base-spacing;
    max-width: 204px;
  }

  h2 { 
    float: left;
    font-size: 1.25em;
    line-height: 1.65; 
  }

  p { 
    float: left;
    //font-size: .8em;
    line-height: 1.35;
  }
}

.content-box-link {
  @extend .box-link;
  background: $white;
  //border: $base-border;
  padding: 1.65em 3em;
  color: $dark-gray;
  text-decoration: none;
  text-align: center;
  margin-bottom: $base-spacing;
  
  &:hover { color: $action-color; }
  
  &.featured {
    
    &:before {
      content: "featured";
      background: $light-green;
      color: shade($green, 20);
      position: absolute;
      top: 20px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      padding: $small-spacing/4 $base-spacing/3;
      font-size: .75em;
      text-transform: uppercase;
      border: 1px solid $white;
    }
  }
  
  img { width: 100%; }
  
  h2 {
    font-size: $base-font-size*1.15;
    line-height: 1.65;
    margin-bottom: .25em;
    width: 100%;
    @extend .truncate;
  }
  
  p {
    //font-size: .8em;
    line-height: 1.35;
    margin: 0;
  }
}

.footnote {
  //font-size: .9em;
  color: $gray;
  line-height: 1.35;  
  
  &:first-child {
    padding-top: 1em;
  }
}

.smallnote {
  font-size: .9em;
}

.marketplace-item {
  border-left: $base-border;
  padding: 0 0 0 $base-spacing + $small-spacing/2;
  
  h2 {
    font-weight: 500;
    font-size: 1.55em;
    margin-bottom: .5em;
  }
  
  p { 
    //font-size: .85em; 
    margin-bottom: 1em;
  }
  
  .price-additional {
    color: $gray;
    text-transform: uppercase;
  }
  
  .product-header {
    .span-6:first-child {
      border-bottom: $base-border;
      
      form { margin-bottom: .75em; }
      
      [class^="span-"] {
        line-height: 1.2;
        
        img { width: 41px; }
      }
    }    
  }
  
  .product-information {
    padding-top: 1em;
    
    h3 { font-size: .9em; }
    
    p { color: $gray; }
  }
}

.marketplace-review-item {
  @include outer-container();
  border-bottom: $base-border;
  margin-bottom: $base-spacing;
  padding-bottom: $base-spacing;
  
  .review-item-details {
    position: relative;
    padding-left: calc(190px + 1em);
    min-height: 142px;
    
    img {
      position: absolute;
      left: 0;
    }
    
    h2 { 
      font-size: 1.15em; 
    }
    
    p { 
      //font-size: .85em;
      //line-height: 1.2; 
    }
  }
  
  .review-item-cost {
    p { 
      //font-size: .9em;
      text-align: right;
    }
  }
}

.marketplace-total {
  
  h3 {
    font-weight: 600;
    //font-size: 1.15em;
    margin-bottom: .5em;
    line-height: 1;
  }
  
  p:last-child { margin-bottom: 0; }
} 

.marketplace-review-footer {
  form {
    margin-bottom: $base-spacing*1.75;
  }
  
  .footnote {
    
    a {
      color: $base-font-color;
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
