.plate { 
	@include clearfix;
	padding: $small-spacing;
	margin: 0 $small-spacing $small-spacing;
	position: relative;
	box-shadow: 0 0 2px 0 rgba(0,0,0,.025);

	.plate-notice {
	    padding: 1em;
	    text-align: center;
	}

	&.plate-small {
		max-width: 25em;
		margin: 0 auto $small-spacing;
		padding: $base-spacing;

		@media screen and (max-width: $medium-screen) { max-width: 96%; }

		input {
			margin-bottom: $small-spacing;

			& + .row { padding-top: 0; }

			& + .button { margin-bottom: $small-spacing; }
		}		
	}

	.plate-tab, 
    .sub-plate-tab { width: 100%; }

	.icon {
		position: absolute;
		display: block;
		height: 1.7em;
		width: 1.7em;
		border-radius: $base-border-radius;
		left: 0; 
		top: -1px;
    	background-repeat: no-repeat;
    	background-size: contain;

    	&.icon-right { 
	    	right: 0;
	    	left: auto;
    	}

    	&.icon-trash { 
	    	top: .5em;
    	}

    	&.icon-logo { 
	    	background-image: url('../images/logo.png');
    	}

      $platforms: factionbloc, amazonaws, vmwareblock;
      $apps: rubyonrails, wordpress, nodejs, phpmyadmin, redis;
      $distros: ubuntu, freebsd, fedora;
      $others: billing-pdf, trash;

      @each $platform in $platforms {
        &.icon-platform-#{$platform} {
          background-image: url('../images/icon-platform-#{$platform}.png');
        }
      }

      @each $distro in $distros {
        &.icon-distro-#{$distro} {
          background-image: url('../images/icon-distro-#{$distro}.png');
        }
      }

      @each $app in $apps {
        &.icon-app-#{$app} {
          background-image: url('../images/icon-app-#{$app}.png');
        }
      }

      @each $other in $others {
        &.icon-#{$other} {
          background-image: url('../images/icon-#{$other}.png');
        }
      }
    }	

	.details-toggler {
	    @include transition(all .2s);

	    &.is-show {
	    	@include transition(height .2s);
	    }

	    &.is-edit {
          z-index: 10;
          background: $plate-blue;
	    }

		&.is-show { 
			margin-bottom: $small-spacing/2;

			&:last-child { margin-bottom: 0; }
		}

		&.divider {

			.details-show {
	        	.row:last-child {     			
	          		border-bottom: none;
	        	}		
			}

			&.is-show { 
				margin-bottom: $small-spacing/2;

				&:last-child { margin-bottom: 0; }
			}

			&:last-child {
				
                .details-show {
		        	.row:last-child {     			
						border-bottom:  1px solid transparent;
		        	}
				}

				&:after {
					content: none;
				}
			}

			&:after {
				border-bottom: 1px solid $base-border-color;
				content: "";
				display: block;
				height: 0.375em;
				margin: 0 0.75em 0.375em;
			}

			&.is-edit:after { display: none; }

			.group {
				margin-bottom: 0;
			}
		}

		.group {
			//padding-top: $small-spacing/2;
		}

		@include media(max-width $medium-screen) { 
			font-size: .8em;
		}
	}

	.group {
		margin: ($small-spacing / 2) 0;
		padding: $small-spacing $small-spacing 0;

		.value-group {
			@include clearfix;
			margin-bottom: $small-spacing;
			padding-bottom: $small-spacing;
			border-bottom: 1px solid $base-border-color;
		}

		&.info {
			text-align: center;
			@include clearfix;

			ul {
				list-style: outside disc;
        max-width: 33em;
        text-align: left;
        margin: 0 auto $small-spacing;
			}
		}

		&.details-show {
	    	margin: $small-spacing/2 0;
		}
	}

	.row {
		@include clearfix;
		@include plate-line;
		padding-top: $small-spacing/2;
		padding-bottom: $small-spacing;
		position: relative;
    
        .is-edit & {
            border-bottom: 1px solid $plate-higlight;
        }

		&:last-child { 
			border-bottom: none;
			margin-bottom: 0;
		}

		& > *:last-child { 
			margin-bottom: 0;
		}

		input:not([type="submit"]),
		select,
		.select {
			padding: $small-spacing/2;
			width: 100%;

			@media screen and (max-width: $medium-screen) { padding: $small-spacing/2 .1em; }

			&.half {
				@include span-columns(6);
			}
		}

		input[type="radio"] { width: auto; }

    .select,
    .select select {
      cursor: pointer;
      outline: none;
    }

    .select {
      padding: 0;
      height: 32px;
      position: relative;
      width: 3.5em !important;
      background: $plate-higlight;
      border: $plate-border; 

      &:after {
        content: '\25bc';
        font-size: 9px;
        display: block;
        position: absolute;
        top: 8px;
        opacity: .3;
        right: 5px;
        pointer-events: none;
        -webkit-transform: translateY(2px);

        @include media(max-width $medium-screen) { 
        	right: 3px;
        	-webkit-transform: translateY(-2px);
        }  
      }

      select {
        background: transparent;
        border: none;
        padding: 3px 0 0 7px;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;

        @include media(max-width $medium-screen) { 
        	padding: 2px 0 0 5px;
        }  
      }
    }

    .connected-right {
      margin-left: -9px;
      border-radius: 0 3px 3px 0 !important;
      @include media(max-width $medium-screen) { height: 2.1em; }      
    }

    .connect-left {
      border-radius: 3px 0 0 3px;
    }

		.pick-slice {
			select,
			input {	width: 100%; }
		}

		button, 
		.button {
			width: auto;
			@media screen and (max-width: $medium-screen) { margin-top: .5em; }
		}

		.actions-buttons { 
			margin-top: $small-spacing; 
		}

		.actions-link { 
			@include span-columns(4);
			line-height: 2.5; 

			@media screen and (max-width: $medium-screen) { 
				line-height: 1;
				padding-top: $small-spacing;
			}
		}
	}

	.sub { 
		border-bottom: none;
		padding-bottom: 0;

		& + .heading { margin-top: $small-spacing; }
	}

	.step-counter { 
		text-align: center;

		.button {

			&.increment { margin-left: $base-spacing; }
			&.decrement { margin-right: $base-spacing; }
		}

		.counter-text { 
			display: inline-block;
			min-width: 30%;
		}
	}

	.step-right {
		text-align: right;
		float: right;
	}

	.row-title { 
		@include plate-line;
	}

	.count { 
	    position: absolute;
	    left: 0;
	    opacity: .5;

	    @include media(max-width $medium-screen) { 
	    	background: shade(#D6E1E6, 20%);
			border-radius: 50%;
			color: white;
			font-size: .9em;
			height: 1.5em;
			left: -1.7em;
			opacity: 1;
			text-align: center;
			width: 1.5em;
			line-height: 1.7;
	    }
	}

  	.counted {
	    padding-left: 1.25em;

	    @include media(max-width $medium-screen) { padding-left: 0; }
  	}

	&.tabbed {
		margin-top: 3.85em;

	    li.settings {
	        @include media(max-width $medium-screen) { 
	          padding: 0 !important;
	        }

	        @include media($medium-screen) { 
	          width: 39px;
	          position: relative;
	        }

	        strong {
	          display: none;

	          @include media($medium-screen) { 
	            text-indent: -999em;
	            display: block;
	          }
	        }

	        ul { 
              @extend .toggler-visual;
	          @include media($medium-screen) { 
	            display: none;
	            background: white;
	            position: absolute;
	            z-index: 10;
	            right: -3px;
	            margin-top: 3px;
	            top: -.375em;
	            border-radius: 0 0 $base-border-radius $base-border-radius;
                text-align: left;
                padding: .375em;

	            li {
	            	display: block; 
	            	//border-bottom: 1px solid $base-border-color;
	               &:hover { 
                      color: $red;
                      background: transparent;
                    }

	            	&:last-child { border-bottom: none; }
	              	&.active { 
	            		border: none; 
	                	background: transparent;
	                	color: $gray;
	                	border-radius: 0;

	                	&:after { display: none; }
	            	}
            	}
          	}
        }

      &:hover {
        ul { display: block; }
      }
    }

    .icon-settings {
      @include media(max-width $medium-screen) {
        display: none;
      }

      @include media($medium-screen) {
        width: 13px;
        background: #F9F7F5;
        height: 13px;
        border-radius: 100px;
        border: 2px solid $dark-gray;
        position: absolute;
        top: 11px;

        &,
        span {
          &:before {
            content: '';
            width: 3px;
            height: 17px;
            background: $dark-gray;;
            display: block;
            position: absolute;
            top: -4px;
            left: 3px;
          }

          &:after {
            content: '';
            width: 17px;
            height: 3px;
            background: $dark-gray;;
            display: block;
            position: absolute;
            top: 3px;
            left: -4px;
          }
        }

        em {
          border-radius: $border-radius-round;
          background: #F9F7F5;
          width: 9px;
          height: 9px;
          z-index: 2;
          position: absolute;
          left: 0;
        }

        span {
          &:after {
            @include transform(rotate(45deg));
          }
          &:before,
          &:after {
            @include transform(rotate(-45deg));
          }
        }
      }
    }

    .tabs {
        display: block;
        text-align: center;
        margin-top: -2.9em;
        white-space: nowrap;
        position: relative;
        bottom: -2px;
        margin-bottom: 1.375em;

        @include media(max-width $medium-screen) {
            margin: -3.65em -1.5em 1.375em;
            padding-left: 1.5em;
            padding-right: 1.5em;
        }

        @include media($medium-screen) {
            bottom: -0.5px;
        }

        @media screen and (max-width: $medium-screen) { 
            overflow-x: auto;
            overflow-y: hidden;
        }

        li {
            display: inline-block;
            border: 1px solid transparent;
            border-bottom: none;
            border-radius:  $base-border-radius  $base-border-radius 0 0;  
            padding: .25em $small-spacing;
            cursor: pointer;

        @include media($medium-screen) {
            &:hover { background: shade(#F9F7F5, 5); }
            }

            &.active { 
                cursor: default;
                position: relative;
                border-bottom: 1px solid transparent;
                color: $red;

                &:after {
                    content: '';
                    display: block;
                    background: $red;
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    left: 0;
                    bottom: -1px;
                }

                &:hover { background: transparent; }
            }
        }
    }

		.sub-tabs {
			display: block;
			text-align: right;
            font-weight: bold;
			white-space: nowrap;
     		position: relative;
      		bottom: -2px;
      		margin-bottom: 1.375em;
      		border-bottom: 1px solid $light-gray;

			@include media(max-width $medium-screen) {
		        padding-left: 1.5em;
		        padding-right: 1.5em;
		    }

			@include media($medium-screen) {
        		bottom: -0.5px;
      		}

			@media screen and (max-width: $medium-screen) { 
				overflow-x: auto;
				overflow-y: hidden;
			}

			li {
				display: inline-block;
				border: 1px solid transparent;
				border-bottom: none;
				border-radius:  $base-border-radius  $base-border-radius 0 0;  
				padding: .25em $small-spacing;
				cursor: pointer;
				margin-bottom: -2px;
              
              &.data-sub-description { padding: .25em 0; }

                @include media($medium-screen) {
                    &:hover { background: shade(#F9F7F5, 5); }
                    &.data-sub-description:hover { 
                      background: transparent; 
                      cursor: text;
                    }
                }

				&.sub-active { 
					cursor: default;
          			position: relative;
          			border-bottom: 1px solid transparent;
                    color: $red;
          
			        &:after {
			            content: '';
			            display: block;
			            background: $red;
			            position: absolute;
			            width: 100%;
			            height: 3px;
			            left: 0;
			            bottom: -1px;

			            @media screen and (max-width: $medium-screen) { 
							bottom: 2px;
						}
			        }

			        &:hover { background: transparent; }
				}
			}
		}
	}
}

.section {

	@media screen and (max-width: $medium-screen) { 
		.plate {

			.heading { display: none; }

			.row { 

				& > div {
					border-bottom: 1px solid tint($base-border-color, 10%);
					width: 100%;
					padding: $small-spacing/2 $base-spacing+$small-spacing/2 $small-spacing/2 $base-spacing*5;
					line-height: 1;
					
					&:before {
						content: attr(data-title);
						display: block;
						position: absolute;
						width: 31.7616%;
						left: 0;
						color: $medium-gray;
					}

					&:last-child { border-bottom: none; }

					.progress-bar-indication {
					  bottom: .1em;
					  position: relative;
					}
				}
			}

			.icon { 
				left: auto;
				right: 0;
			}
		}
	}
}

.blocks {

	@media screen and (max-width: $medium-screen) { 
		.plate {

			.heading { display: none; }

			.row {
				margin-bottom: $small-spacing;
				padding-top: $small-spacing/4;

				& > div {
					width: 100%;
					padding: $small-spacing/4 0;
				}

    			&first-child { padding-top: 0; }

    			&last-child { 
    				margin-bottom: 0; 
    				padding-bottom: 0; 
    			}
			}
		}
	}
}

.products-row {
  clear: both;

  .value,
  .value-type { @include span-columns(4); }

  .value:nth-child(3) {
    @include span-columns(2);
  }

  input[type="text"] {
    max-width: 3em;
    display: inline-block;
    margin-right: .25em;
  }
}
