//rules for plates with cakes, slices, toppings..
.plate { 
	@include clearfix;
	border: 1px solid $light-gray;
	border-radius: 3px;
	padding: 1em;
	margin: 0 $small-spacing $small-spacing;

  &.plate-small {
    max-width: 25em;
    margin: 0 auto $small-spacing;
  }
	
	.specs-type { 
		@include clearfix;
		@include plate-line;

		li {
			@include span-columns(2);

			&:first-child { 
				@include span-columns(4);
				padding-left: 3em; 
			}
		}
	}
	
	.plate-details {
		margin: $base-spacing 0 $base-spacing*2; 

		.specs-name { 
			@include clearfix;
			@include plate-line;

			li {
				@include span-columns(4);
			}
		}

		.value-row { 
			@include clearfix;

			.value-type {
				@include span-columns(4);

				&:first-child { padding: 0 $small-spacing; } 
			}
		}
	}

	.cake,
	.slice { 
		@include clearfix;
		@include plate-line;

		&:last-child { 
			border-bottom: none;
			padding-bottom: 0;
		}

		.cake-type,
		.slice-type { 
			position: relative;
			@include span-columns(4);
			padding-left: 3em; 

			.icon {
				position: absolute;
				display: block;
				height: 1.2em;
				width: 1.7em;
				border-radius: $base-border-radius;
				left: 0; 
				top: 3px;
				background: $light-gray;
			}

		}

		.cake-specs,
		.slice-specs { @include span-columns(2); }

	}

	&.tabbed {
		margin-top: 2em;

		.tabs {
			display: block;
			text-align: center;
			margin-bottom: -1px;
			margin-top: -2.9em;

			li {
				display: inline-block;
				border: 1px solid $light-gray;
				border-bottom: none;
				border-radius:  $base-border-radius  $base-border-radius 0 0;  
				padding: .25em $small-spacing 0;

				&.active { border-bottom: 1px solid white; }
			}
		}
	}
}
