//rules for plates with cakes, slices, toppings..
.plate { 
	@include clearfix;
	border: 1px solid $light-gray;
	border-radius: 3px;
	padding: 1em;
	margin: 0 $small-spacing $small-spacing;
	position: relative;

	&.plate-small {
		max-width: 25em;
		margin: 0 auto $small-spacing;
	}

	.icon {
		position: absolute;
		display: block;
		height: 1.2em;
		width: 1.7em;
		border-radius: $base-border-radius;
		left: 0; 
		top: 3px;
		background: $light-gray;
	}
	
	.specs-type { 
		@include clearfix;
		@include plate-line;

		li {
			@include span-columns(2);

			&:first-child { 
				@include span-columns(4);
				padding-left: 3em; 
			}
		}
	}
	
	.plate-details,
	.step-details,
	.step-counter {
		margin: $small-spacing 0; 
		padding: $small-spacing;
		border-radius: $base-border-radius;

		.specs-name { 
			@include clearfix;
			@include plate-line;

			li {
				@include span-columns(4);
			}

			li.small {
				@include span-columns(3);
			}
		}

		.value-row,
		.step-row { 
			@include clearfix;
			margin-bottom: $small-spacing;

			.value-type,
			.value,
			.value-edit {
				@include span-columns(4);

				&:first-child { padding: 0 $small-spacing; } 
			}

			.value-small {
				@include span-columns(3);
			}

			.value-icon {
				position: relative;

				&:first-child { padding: 0 $small-spacing 0 $base-spacing*1.5; } 
			}

			.value-edit input,
			.value-edit select {
				@include span-columns(6);
				padding: $small-spacing/2;
			}

			&:last-child { 
				margin-bottom: 0;
				padding-bottom: 0;
			}

			.pick-slice {
				select,
				input {	width: 100%; }
			}
		}

		.step-row { 
			border-bottom: 1px solid $light-gray; 
			padding-bottom:  $small-spacing;

			&:last-child { border-bottom: none;  }
		}

		.actions-row {
			border-top: 1px solid $light-gray;
			padding-top: $small-spacing; 
			margin-top: $small-spacing;
			@include clearfix; 

			.actions-buttons { 
				@include span-columns(8); 

				button {
					@media screen and (max-width: $small-screen) { margin-top: .5em; }
				}
			}
			.actions-link { 
				@include span-columns(4);
				line-height: 2.5;

				@media screen and (max-width: $small-screen) { 
					line-height: 1;
					padding-top: $small-spacing;
				}
			}
		}

		&[data-details="show"] {
			cursor: pointer;

			&:hover {
				background: $light-gray;	
				transition: background .3s;		
			}			
		}

		&[data-details="edit"] {
			padding: $small-spacing;
			background: $secondary-background-color;
			border: 1px solid $light-gray;
			
		}
	}

	.ticket {
		margin: $small-spacing 0; 
		padding: $small-spacing;
		border-radius: $base-border-radius;
		@include clearfix;

		.ticket-message {			
			border: 1px solid $light-gray;
			border-radius: $base-border-radius;
			margin-bottom: $base-spacing;

			&.user,
			&.admin {
				@include span-columns(10);
			}

			&.admin { 
				float: right;
				margin-right: 0;

				.msg-info { text-align: right; } 
			}

			.msg-info,
			.msg-text { padding: $small-spacing; }

			&.image {
				@include span-columns(5);
				border-top: 1px solid $light-gray;
				border-bottom: 1px solid $light-gray;

				.image-placeholder {
					height: 100px;
					width: 100%;
					background: $secondary-background-color;
				}
			}
		}

		.ticket-type {
			@include span-columns(10);
			padding-bottom:  $small-spacing;

			@include media-query($medium-screen) { @include span-columns(9); }

			&:first-child { padding: 0 $small-spacing; }
		}

		.ticket-row { 
			@include clearfix;
			@include plate-line;

			&:last-child { border-bottom: none; } 

			.value-icon {
				position: relative;

				&:first-child { padding: 0 $small-spacing 0 $base-spacing*1.5; } 
			}
		}


	}

	.step-counter { 
		text-align: center;

		.button {

			&.increment { margin-left: $base-spacing; }
			&.decrement { margin-right: $base-spacing; }
		}
	}

	.step-right {
		text-align: right;
		float: right;
	}

	.cake,
	.slice { 
		@include clearfix;
		@include plate-line;

		&:last-child { 
			border-bottom: none;
			padding-bottom: 0;
		}

		.cake-type,
		.slice-type { 
			position: relative;
			@include span-columns(4);
			padding-left: 3em; 

		}

		.cake-specs,
		.slice-specs { @include span-columns(2); }

	}

	.ticket-post {
		@include clearfix;
		margin-bottom: $small-spacing;
		padding-top: $base-spacing;
		border-top: 1px solid $light-gray;

		.message-input { 
			@include span-columns(10); 

			@include media-query($medium-screen) { @include span-columns(9); }
		}
	}

	.specs-title { 
		@include plate-line;
	}

	&.tabbed {
		margin-top: 2em;

		.tabs {
			display: block;
			text-align: center;
			margin-bottom: -1px;
			margin-top: -2.9em;
			white-space: nowrap;
			overflow-x: auto;

			li {
				display: inline-block;
				border: 1px solid $light-gray;
				border-bottom: none;
				border-radius:  $base-border-radius  $base-border-radius 0 0;  
				padding: .25em $small-spacing 0;
				cursor: pointer;

				&:hover { background: $light-gray; }
				&.active { 
					border-bottom: 1px solid white;
					cursor: inherit;
					background: $base-background-color;
				 }
			}
		}
	}
}
