.row {
  @include clearfix;
  @include plate-line;
  padding-top: $small-spacing/2;
  padding-bottom: $small-spacing;
  position: relative;
  display: block;
  
  .is-edit & {
    border-bottom: 1px solid $plate-higlight;
  }
  
  &:last-child,
  &.is-last {
    border-bottom: none;
    margin-bottom: 0;
  }
  
  & > *:last-child {
    margin-bottom: 0;
  }
  
  input:not([type="submit"]),
  select,
  .select {
    padding: $small-spacing/2;
    width: 100%;
    
    @media screen and (max-width: $medium-screen) {
      padding: $small-spacing/2 .1em;
    }
    
    &.half {
      @include span-columns(6);
    }
  }
  
  [class^="span-"] {
    @extend .truncate;
    line-height: 2;
  }
  
  input[type="radio"] {
    width: auto;
  }
  
  .select,
  .select select {
    cursor: pointer;
    outline: none;
  }
  
  .select {
    padding: 0;
    height: 32px;
    position: relative;
    width: 3.5em !important;
    background: $plate-higlight;
    border: $plate-border;
    
    &:after {
      content: '\25bc';
      font-size: 9px;
      display: block;
      position: absolute;
      top: 8px;
      opacity: .3;
      right: 5px;
      pointer-events: none;
      -webkit-transform: translateY(2px);
      @include media(max-width $medium-screen) {
        right: 3px;
        -webkit-transform: translateY(-2px);
      }
    }
    
    select {
      background: transparent;
      border: none;
      padding: 3px 0 0 7px;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      
      @include media(max-width $medium-screen) {
        padding: 2px 0 0 5px;
      }
    }
  }
  
  .connected-right {
    margin-left: -9px;
    border-radius: 0 3px 3px 0 !important;
    
    @include media(max-width $medium-screen) {
      height: 2.1em;
    }
  }
  
  .connect-left {
    border-radius: 3px 0 0 3px;
  }
  
  .pick-slice {
    
    select,
    input {
      width: 100%;
    }
  }
  
  button,
  .button {
    width: auto;
    @media screen and (max-width: $medium-screen) {
      margin-top: .5em;
    }
  }
  
  .actions-buttons {
    margin-top: $small-spacing;
  }
  
  .actions-link {
    @include span-columns(4);
    line-height: 2.5;
    
    @media screen and (max-width: $medium-screen) {
      line-height: 1;
      padding-top: $small-spacing;
    }
  }
}

.row.is-highlighted,
a.row:hover {
  @extend .activate-row;
  top: calc(-.375em - 1px);
  padding-top: $small-spacing;
  
  & + .row {
    margin-top: calc(-.375em - 1px);
  }
  
  &:last-child {
    margin-bottom: -.5em;
  }
}

.details-toggler .row.is-highlighted {
  left: 0;
  width: 100%;
  top: 0;
  border: none !important;
  padding-left: 0;
  padding-right: 0;
  background: $plate-hover;
  padding-top: $small-spacing/2;
  
  & + .row {
    margin-top: 0;
  }
  
  &:last-child {
    margin-bottom: 0;
  }
}

.heading {
  @include clearfix;
  @include plate-line;
  color: $dark-gray;
  font-weight: bold;
  border-width: 2px;
  line-height: 1;
  
  .is-edit & {
    border-bottom: 1px solid $plate-higlight;
  }
    
  .sub-value {
    color: $gray;
    font-size: .9em;
    font-weight: 500;
    white-space: nowrap;
  }
  
  .sub-plate-tab & {
    font-weight: normal;
    font-size: .75em;
    color: $gray;
    padding-bottom: $small-spacing;
  }
}

.sub-plate-tab .group .heading li {
  position: relative;
  top: -1em;
}

.edit-highlighted {
  color: darken($plate-higlight, 30);
}
