#{$all-buttons},
.button {
  appearance: none;
  background-color: $action-color;
  border: 0;
  border-radius: $base-border-radius;
  border-bottom: 1px solid shade($red, 15);
  color: #fff;
  cursor: pointer;
  outline: none;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  transition: background $base-duration;

  @include media-query($medium-screen) { padding: $small-spacing; }

  &:hover,
  &:focus {
    //background-color: shade($action-color, 20%);
    background-color: $teal;
    border-bottom: 1px solid shade(#36c9c6, 15);
    color: #fff;
  }

  &:disabled,
  &.inactive {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $teal;
    }
  }
}

.button.small,
button.small {
  font-size: .8em;
}

.button.secondary {
  background: $medium-gray;
  border-bottom-color: shade($medium-gray, 15);

  &:hover {
    background-color: $teal;
    border-bottom: 1px solid shade($teal, 15);
    color: #fff;
  }
}

.button.white {
  background: $white;
  border: 1px solid lighten($medium-gray, 10);
  color: $gray;

  &:hover {
    background: $teal;
    color: $white;
  }
}

.button.black {
  background: $black;
  color: $white;
  width: 100%;
  text-align: center;
  border: none;

  &:hover {
    background: lighten($black, 30);
    border: none;
  }
}

.button.expand {
  width: 100%;
  text-align: center;
}
