{% unless page.navigation == false %}
<nav role="navigation">
  <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
    <li class="nav-link logo">
        <a href="index.html" class="icon">&nbsp;</a>
    </li>
    {% if page.role == 'reseller' %}
    <li class="reseller-clients"><a href="reseller-clients.html">Clients</a></li>
    <li class="reseller-products"><a href="reseller-products.html">Products</a></li>
    <li class="reseller-billing divider"><a href="reseller-billing.html">Billing</a></li>
    {% else %}
    <li class="platform"><a href="index.html">Summary</a></li>
    <li class="infrastructure"><a href="infrastructure.html">Infrastructure</a></li>
    <li class="marketplace"><a href="marketplace.html">Marketplace</a></li>
    <li class="tickets divider"><a href="tickets.html">Tickets</a></li>
    <li class="billing"><a href="billing.html">Billing</a></li>
    {% endif %}
    <li class="user"><a href="user.html">jc@eplexity.com</a></li>
    <li class="signout"><a href="#">Sign out</a></li>
  </ul>
</nav>

{% endunless %}
