{% unless page.navigation == false %}
<nav class="nav-main" role="navigation" data-toggle-target="navigation">
  <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
    <li class="hamby" data-toggle="navigation"> 
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </li>
    <li class="nav-link logo"> 
        <a href="index.html" class="site-icon">&nbsp;</a>
    </li>
    {% unless page.class contains 'nav-mini' %}
    {% if page.role == 'reseller' %}
    <li class="reseller-clients"><a href="reseller-clients.html">Clients</a></li>
    <li class="reseller-products"><a href="reseller-products.html">Products</a></li>
    <li class="reseller-billing divider"><a href="reseller-billing.html">Billing</a></li>
    {% else %}
    <li class="platform"><a href="index.html">Summary</a></li>
    <li class="infrastructure"><a href="infrastructure.html">Infrastructure</a></li>
    <li class="marketplace"><a href="marketplace.html">Marketplace</a></li>
    <li class="tickets divider"><a href="tickets.html">Tickets</a></li>
    <li class="billing"><a href="billing.html">Billing</a></li>
    {% endif %}
    <li class="user"><a href="user.html">indra51@eplexity.com</a></li>
    <li class="signout divider"><a href="#">Sign out</a></li>
    {% endunless %}
  </ul>
  {% if page.progress %}
  <div class="step-progress" style="width:{{ page.progress }}%;"></div>
  {% endif %}
</nav>
<div class="mobile-cover" data-toggle="navigation" data-toggle-target="navigation"></div>
{% endunless %}
