  <div class="centered-navigation">
    <div class="centered-navigation-wrapper">
      <a href="#" class="mobile-logo">
        <span class="icon"></span>
      </a>
      <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">MENU</a>
      <nav role="navigation">
        <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
          <li class="nav-link logo">
            <a href="javascript:void(0)" class="logo">
              <span class="icon"></span>
            </a>
          </li>
          <li class="nav-link active"><a href="{{ site.baseurl }}/eplexity/">Cakes</a></li>
          <li class="nav-link"><a href="#">Slices</a></li>
          <li class="nav-link"><a href="#">Toppings</a></li>
          <li class="nav-link"><a href="#">Orders</a></li>
          <li class="nav-link nav-close"><a href="javascript:void(0)">X</a></li>
        </ul>
      </nav>
    </div>
  </div>
